@import "./vars";

* {
	box-sizing: border-box;
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html,
body {
	height: 100%;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
	opacity: 1;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.section {
	margin-bottom: 140px;
	&:last-child {
		margin-bottom: 0;
	}
	@media screen and (max-width:992px){
		margin-bottom: 100px;
	}
	@media screen and (max-width:480px){
		margin-bottom: 40px;
	}
}

.section-inner {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	@media screen and (max-width: 1350px) {
		padding: 0 80px;
	}
	@media screen and (max-width: 992px) {
		padding: 0 24px;
	}
}

.section-btn--center {
	text-align: center;
}

.main,
.footer {
	background-color: $bg;
}

.page {
	padding-top: 135px;
	padding-bottom: 160px;
	@media screen and (max-width: 768px) {
		padding-bottom: 80px;

  }
}

body.noscroll {
	overflow-y: hidden!important;
}

.nice-select {
	color: #6C6F72;
  font-size: 16px;
  border: 1px solid #EBEEF1;
  background-color: #F6F7F8;
	height: 40px;
	width: 260px;
	&::after {
		border-bottom: 1px solid #3575E8;
		border-right: 1px solid #3575E8;
		width: 9px;
		height: 9px;
		margin-top: -3px;
		top: 41%;
	}
	&:focus {
		border-color: #C1D7FF;
		background: #F0F5FE;
	}
	.list {
    left: auto;
		right: 0;
		width: 260px;
	}

}

.header-page {
  display: flex;
  justify-content: space-between;
	margin-bottom: 80px;

	@media screen and (max-width: 992px) {
		flex-direction: column;
	}
}

.travel-prev__dropdown {
  display: flex;

  & > div {
		margin-right: 40px;
		
    &:last-child {
      margin-right: 0;
    }
	}
	@media screen and (max-width: 768px) {
    flex-direction: column;
		justify-content: flex-start;
		& > div {
			margin-right: 0;
			align-self: flex-start;
			width: 260px;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
			}

		}
}

.contacts__dropdown {
	& > p {
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 600;
	}
}

ul {
	&.circle {
		li {
			position: relative;
			padding-left: 15px;
			&::before {
				position: absolute;
				content: '';
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 6px;
				height: 6px;
				border: 2px solid #3575E8;
				border-radius: 50%;
			}
		}
	}
	&.done {
		li {
			position: relative;
			line-height: 30px;
			&::before {
				position: absolute;
				content: "\E002";
				font-family: "icons";
				left: 0;
				top: 0;
				// transform: translateY(-50%);
				font-size: 8px;
				color: #3575E8;
			}
		}
	}
	&.disadvantages {
		li {
			position: relative;
			line-height: 30px;
			&::before,
			&::after {
				position: absolute;
				content: "";
				left: 0;
				top: 13px;
				background-color: #F51241;
				width: 10px;
				height: 1px;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
	}
}

.divider {
	width: 100%;
	height: 7px;
	background-image: url('../img/icons/divider.svg');
	background-repeat: no-repeat;
    background-size: 100%;
}

iframe {
	overflow: hidden!important;
}

.social {
	display: flex;
	justify-content: center;
	.social-link {
		padding: 10px;
		img {
			width: 28px;
			height: 28px;
		}
		&.social-link-contacts {
			padding: 0;
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}


.responsive-iframe__container {
	position: relative;
  overflow: hidden;
  width: 100%;
	padding-top: 56.25%;
	margin-bottom: 20px;
}

.responsive-iframe__iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.cursor-pointer {
	cursor: pointer;
}
