@font-face {
	font-family: 'raleway-example';
	src: url('../fonts/RalewayRegular.woff') format('woff');

}

@font-face {
	font-family: 'raleway-example';
	src: url('../fonts/RalewayBold.woff') format('woff');
	font-weight: bold;
}

