@font-face {
	font-family: "icons";
	src: url('../iconfonts/icons.eot');
	src: url('../iconfonts/icons.eot?#iefix') format('eot'),
		url('../iconfonts/icons.woff2') format('woff2'),
		url('../iconfonts/icons.woff') format('woff'),
		url('../iconfonts/icons.ttf') format('truetype'),
		url('../iconfonts/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-cancel:before {
	content: "\E001";
}

.icon-check-mark:before {
	content: "\E002";
}

.icon-download:before {
	content: "\E003";
}

.icon-facebook-logo:before {
	content: "\E004";
}

.icon-ic-facebook:before {
	content: "\E005";
}

.icon-ic-img-zoom:before {
	content: "\E006";
}

.icon-ic-instagram:before {
	content: "\E007";
}

.icon-ic-pin:before {
	content: "\E008";
}

.icon-ic-telegram:before {
	content: "\E009";
}

.icon-ic-time:before {
	content: "\E00A";
}

.icon-ic-viber:before {
	content: "\E00B";
}

.icon-ic-youtube:before {
	content: "\E00C";
}

.icon-icon-arrow-1:before {
	content: "\E00D";
}

.icon-icon-arrow:before {
	content: "\E00E";
}

.icon-icon-burger:before {
	content: "\E00F";
}

.icon-icon-calendar:before {
	content: "\E010";
}

.icon-icon-elipse-play:before {
	content: "\E011";
}

.icon-icon-facebook:before {
	content: "\E012";
}

.icon-icon-group:before {
	content: "\E013";
}

.icon-icon-headphones:before {
	content: "\E014";
}

.icon-icon-instagram:before {
	content: "\E015";
}

.icon-icon-m-arrow-blue:before {
	content: "\E016";
}

.icon-icon-m-arrow-white:before {
	content: "\E017";
}

.icon-icon-m-arrow:before {
	content: "\E018";
}

.icon-icon-money:before {
	content: "\E019";
}

.icon-icon-presentation:before {
	content: "\E01A";
}

.icon-icon-telegram:before {
	content: "\E01B";
}

.icon-icon-video-play:before {
	content: "\E01C";
}

.icon-icon-youtube:before {
	content: "\E01D";
}

.icon-logo-inst:before {
	content: "\E01E";
}

.icon-logo-round:before {
	content: "\E01F";
}

.icon-message:before {
	content: "\E020";
}

.icon-phone:before {
	content: "\E021";
}

.icon-texture-wave:before {
	content: "\E022";
}
