@import "./vars";

.main-title {
  font-size: 56px;
  color: $white;
  font-weight: bold;
  line-height: 76px;
  text-transform: uppercase;
  @media screen and (max-width: 992px) {
    font-size: 56px;
    line-height: 1.5em;
  }
  @media screen and (max-width: 768px) {
    font-size: 36px;
    line-height: 1.5em;
  }
  @media screen and (max-width: 480px) {
    font-size: 24px;
	}
}

.main-subtitle {
  color: $white;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.page-title {

}

.section-title {
  color: $grey-dark;
  font-size: 36px;
  font-weight: 700;
  margin-right: 20px;
  @media screen and (max-width: 768px) {
    font-size: 18px;
	}
}

.section-title--uppercase {
  text-transform: uppercase;
}

.subtitle {
  font-size: 16px;
  font-weight: 600;
  color: $grey-dark;
  a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    &:hover {
      opacity: .8;
    }
  }
}


.text {
  color: $text;
  font-weight: 400;
  &.text-s {
    font-size: 14px;
    line-height: 21px;
  }
  &.text-m {
    font-size: 16px;
    line-height: 28px;
  }
  &.text-xs {
    font-size: 10px;
  }
}

.text-center {
  text-align: center;
}