$orange-opacity: rgba(255, 170, 0, .9);
$blue-opacity: rgba(53, 117, 232, .9);
$white: #FFF;

$blue-light: #3575E8;
$blue-dark: #2061D6;
$orange: #ffaa00;
$green: #70cc2c;
$purple: #7733d6;
$grey-dark: #2C3036;
$grey: #EBEEF1;

$bg: #fcfcfc;

$text: #6C6F72;

// INPUTS
$success: #70CC2C;
$error: #F51241;


// Spaces | margins

// Border

