.btn {
	appearance: none;
	border: none;
	display: inline-block;
	position: relative;
	transition: color .2s ease-in;
	&:hover {
		cursor: pointer;
	}
	&:focus {
		outline: none;
	}
}

.blue-btn {
	border-radius: 40px;
	background: linear-gradient(to right, $blue-light, $blue-dark);
	box-shadow: 0px 25px 15px -15px rgba(10, 51, 125, 0.6);
	color: $white;
	padding: 13px 36px;
	letter-spacing: 0.1em;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	min-width: 190px;
	&:hover {
		cursor: pointer;
		background: $blue-dark;
	}
	&:focus {
		outline: none;
		box-shadow: 0 0 0 4px #cbd6ee;
	}
	&[disabled] {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.btn-border {
	border-radius: 40px;
	background: transparent;
	padding: 13px 24px;
	letter-spacing: 0.1em;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	min-width: 190px;
	transition: border .2s ease-in;
	
	&.btn-border-blue {
		color: $blue-light;
		border: 2px solid $blue-light;

		background-color: #fff;
		&:hover {
			border-color: #2061D6;
			color: #2061D6;
		}
	}
	&.btn-border-white {
		color: $white;
		border: 2px solid $white;
		&:hover {
			color: $blue-light;
			border-color: $blue-light;
		}
	}
	&:focus {
		box-shadow: 0 0 3px 3px rgba(53, 117, 232, 0.41);
	}
}

.link {
	display: inline-block;
	text-decoration: none;
	&.blue {
		color: $blue-light;
	}
	&.link-arrow {
		position: relative;
		font-size: 12px;
		text-transform: uppercase;
		padding-right: 22px;
		font-weight: 700;
		&:after {
			position: absolute;
			content: "";
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			background-image: url("../img/icons/icon-arrow.svg");
			width: 12px;
			height: 9px;
		}
	}
}

.owl-carousel {
	&.nav-carousel {
		.owl-nav button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			&:focus {
				outline: none;
			}
		}
		&.nav-carousel_light {
			.owl-nav button {
				background-repeat: no-repeat;
				width: 28px;
				height: 28px;
				&:focus {
					border-color: #ffffff34;
				}
			}
			.owl-nav button.owl-prev {
				background-image: url("../img/icons/icon-m-arrow-blue.svg");
			}
			.owl-nav button.owl-next {
				background-image: url("../img/icons/icon-m-arrow-blue.svg");
				transform: rotate(-180deg);
			}
			.owl-nav button.owl-prev.disabled,
			.owl-nav button.owl-next.disabled {
				background-image: url("../img/icons/icon-m-arrow-disabled.svg");

			}
			.owl-dot {
				border: 1px solid $white;
				background-color: transparent;
				&.active {
					background-color: $white;
				}
			}
		}
		&.nav-carousel_blue {
			.owl-nav button {
				width: 28px;
				height: 28px;
				background-repeat: no-repeat;
				&:focus {
					border-color: $blue-light;
				}
			}
			.owl-nav button.owl-prev {
				background-image: url("../img/icons/icon-m-arrow-white.svg");
				background-position: 50% 50%;
			}
			.owl-nav button.owl-next {
				background-image: url("../img/icons/icon-m-arrow-white.svg");
				transform: rotate(-180deg);
				background-position: 55% 50%;
			}
			.owl-nav button.owl-prev.disabled,
			.owl-nav button.owl-next.disabled {
				background-image: url("../img/icons/icon-m-arrow-disabled.svg");
				cursor: default;
			}
			.owl-dot {
				border: 1px solid $blue-dark;
				background-color: transparent;
				&.active {
					background-color: $blue-light;
				}
			}
		}
		&.nav-carousel_simple {
			.owl-nav button {
				border: none;
				background: transparent url("../img/icons/icon-arrow-1.svg") no-repeat;
				width: 22px;
				color: $blue-light;
			}
		}
	}
	.owl-video-play-icon {
		background: url("../img/icons/icon-elipse-play.svg");
		background-repeat: no-repeat;
		width: 40px;
		height: 40px;
		transform: translate(-50%, -50%);
		margin-left: 0;
		margin-top: 0;
		&:hover {
			transform: translate(-50%, -50%);
		}
	}
	@media screen and (max-width: 992px) {
		.owl-nav {
			display: none;
		}
	}

	.owl-dots {
		text-align: center;
		.owl-dot {
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin: 0 5px;
		}
	}

}

.btn-close {
	position: absolute;
	top: -15px;
	right: -15px;
	display: block;
	margin: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 50%;
	background-color: $white;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.24);
	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background-image: url('../img/icons/close-cross.svg');
		background-repeat: no-repeat;
		background-size: 13px;
		background-position: center;
		left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	}
}
