.card-solid {
  width: 100%;
  height: 360px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: box-shadow .2s ease;
  &:hover {
    box-shadow: 14px 10px 19px -13px #545454;
  }
  .card-solid__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .card-solid__desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%) 0% 0% no-repeat;
    padding: 30px 33px;
    color: white;
    .card-solid__date {
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .card-solid__country {
      font-size: 18px;
      letter-spacing: 0.9px;
      text-transform: uppercase;
    }
  }
}