.minicard {
  width: 100%;
  max-width: 360px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  .minicard__content {
      padding: 20px 50px 20px 20px;
  }
  .minicard__date {
      color: #6C6F72;
      font-size: 14px;
      margin-bottom: 20px;
  }
  .minicard__info {
      color: #2C3036;
      font-size: 14px;
      font-weight: 700;
  }
  @media screen and (max-width:480px){
    .minicard__content {
      padding: 10px 25px 10px 10px;
    }
  }
}

.card-info {
  border-radius: 15px;
  overflow: hidden;
  color: white;
  .card-info__bg {
    padding: 40px 35px;
    width: 100%;
    height: 100%;
    background-image: url("../img/icons/texture-wave.svg");
    background-size: 18px 23px;
  }
  &.purple {
    background: linear-gradient(90deg, #7733D6 0%, #6321BE 100%) 0% 0% no-repeat padding-box;
  }
  &.orange {
    background: transparent linear-gradient(90deg, #F7A01E 0%, #FF8800 100%) 0% 0% no-repeat padding-box;
  }
  .card-info__title {
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 22px;
  }
  .card-info__row {
    display: flex;
  }
  .card-info__time {
    font-weight: 300;
    line-height: 27px;
  }
  .card-info__phone {
    font-weight: 600;
    color: white;
    text-decoration: none;
  }
  .card-info__icon {
    font-size: 27px;
    width: 45px;
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-33%);
    }
  }

  @media screen and (max-width:480px) {
    .card-info__bg {
      padding: 20px 20px;
    }
  }
}