@import './../vars';

.card-person {
  border-radius: 15px;
  box-shadow: 0px 0px 4px rgba(31, 49, 74, 0.08);
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: box-shadow .2s ease-in;
  &:hover {
    box-shadow: 0px 0px 5px 1px rgb(202, 202, 202);
  }
  .card-person__figure {
    width: 100px;
    height: 100px;
    margin: 40px auto 20px;
    .card-person__image {
      display: block;
      width: 100%;
      border-radius: 50%;
    }
  }
  .card-person__body {
    padding: 0 20px;
    margin-bottom: auto;
  }
  .card-person__title {
    margin-bottom: 20px;
    color: $blue-light;
    text-align: center;
    font-weight: 600;
  }
  .card-person__copy {
    text-align: center;
    margin-bottom: 20px;
  }
  .card-person__footer {
    position: relative;
    padding: 20px 10px;
    text-align: center;
    border-top: 1px solid #F6F7F8;
    color: $blue-light;

    &::before {
      position: absolute;
      content: '';
      top: -2px;
      left: 50%;
      transform: translateX(-50%);
      width: 31px;
      height: 3px;
      background-color: $blue-light;
      border-radius: 3px;
    }
  }
}