$white: #ffffff;
$blue: #3575e8;
$grey-500: #2c3036;
$grey-100: #f6f7f8;
$grey-200: #6c6f72;

.custom-selected {
	position: relative;
	font-size: 10px;
	font-weight: 600;
	width: auto;
	cursor: pointer;
}

.custom-selected__title {
	padding-left: 0;
	height: 20px;
	width: 70px;
	line-height: 20px;
	background-color: transparent;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;

	.header--dark & {
		color: white;
	}
	.header.open & {
		color: $grey-500;
	}

	.header.open &.custom-selected__title_rounded {
		color: #3575e8;
	}

	&::before {
		margin-top: -4px;
		position: absolute;
		content: '';
		display: block;
		pointer-events: none;
		right: 10px;
		top: 50%;
		width: 5px;
		height: 5px;
		transform-origin: 66% 66%;
		border: none;
		transform: rotate(45deg);
		transition: all 0.2s ease-in-out;
		border-bottom: 1px solid #3575e8;
		border-right: 1px solid #3575e8;

		.header--dark & {
			border-color: $white;
		}
		.header.open & {
			border-color: $grey-500;
		}
		.header--light & {
			border-color: $grey-500;
		}
	}
	&.open {
		&::before {
			transform: rotate(225deg);
		}
	}
	.header__sticky & {
		color: $grey-500;
		&::before {
			border-color: $grey-500;
		}
	}
	&.custom-selected__title_rounded {
		width: 100%;
		height: auto;
		border-radius: 15px;
		background-color: rgba(53, 117, 232, 0.15);
		color: #3575e8;
		text-transform: uppercase;
		padding: 6px 38px 6px 16px;
		font-size: 14px;
		font-weight: 600;
		.header.open &::before {
			border-color: #3575e8;
		}
	}
}

.custom-selected__title_middle {
	width: 90px;
	font-size: 14px;
}

.custom-selected__list {
	position: absolute;
	right: 0;
	left: auto;
	top: calc(100% + 15px);
	padding: 0;
	border-radius: 10px;
	max-height: 200px;
	border: none;
	box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.08);
	background-color: white;
	list-style: none;
	margin: 0;
	z-index: 100;
	display: none;
}

.custom-selected__item {
	font-size: 12px;
	font-weight: normal;
	border-bottom: 1px solid #f6f7f8;
	color: #6c6f72;
	&:last-child {
		border-bottom: none;
	}
	&:hover {
		color: #2061d6;
	}
}

.custom-selected__link {
	display: block;
	padding: 24px;
	text-decoration: none;
	color: inherit;
}
