.dateRange {
	position: relative;
	&::after {
		content: "\E003";
		font-family: "icons";
		position: absolute;
		top: 41%;
		color: #3575e8;
		right: 10px;
		font-size: 12px;
	}
	&.open {
		&::after {
			content: "\E001";
			font-family: "icons";
			border: none;
		}
		.dateRangeField {
			border: 1px solid #c1d7ff;
			background-color: #f0f5fe;
			color: #3575e8;
		}
	}
	.dateRangeField {
		width: 100%;
		border-radius: 5px;
		padding: 10px 40px 10px 20px;
		height: 40px;
		color: #6c6f72;

		border: 1px solid #ebeef1;
		background-color: #f6f7f8;
	}
	svg {
		position: absolute;
		top: 15px;
		right: 20px;
		width: 12px;
		height: 12px;
		fill: #3575e8;
	}
}

.dateRangeField:focus {
	border: 1px solid #c1d7ff;
	outline: none;
}

.dateRangeField:focus::-webkit-input-placeholder {
	/* Firefox, Chrome, Opera */
	color: #3575e8;
}

.dateRangeField:focus::-moz-placeholder {
	/* Firefox, Chrome, Opera */
	color: #3575e8;
}

.dateRangeField:focus:-ms-input-placeholder {
	/* Firefox, Chrome, Opera */
	color: #3575e8;
}

.dateRangeField:focus::-ms-input-placeholder {
	/* Firefox, Chrome, Opera */
	color: #3575e8;
}

.dateRangeField:focus::placeholder {
	/* Firefox, Chrome, Opera */
	color: #3575e8;
}

.dateRangeFieldfocus::-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #3575e8;
}

.dateRangeField:focus::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #3575e8;
}

.daterangepicker {
	border-radius: 15px;
	border: none;
	box-shadow: 0px 16px 16px #00000029;
	font-family: Montserrat, Arial, sans-serif;
	&::after,
	&::before {
		content: none;
	}
	.drp-calendar {
		max-width: 364px;
	}
	.calendar-table tr {
		display: flex;
		justify-content: space-between;
	}
	thead tr:first-child {
		padding-bottom: 20px;
		border-bottom: 1px solid #ebeef1;
	}
	thead tr:last-child {
		th {
			color: #bec0c2;
			font-size: 14px;
			font-weight: 400;
			width: 32px;
			height: 32px;
			line-height: 30px;
		}
	}
	.calendar-table th.prev,
	.calendar-table th.next {
		position: relative;
		width: 28px;
		height: 28px;
		min-width: 28px;
		background-image: url("../img/icons/icon-m-arrow-white.svg");
		background-position: 55% 50%;
		&:hover {
			background-color: transparent;
		}
		span {
			display: none;
		}
	}
	.calendar-table th.next {
		transform: rotate(-180deg);
	}
	.calendar-table th.month {
		color: #2c3036;
		font-size: 20px;
		line-height: 28px;
		height: 28px;
		padding: 0 10px;
	}
	.calendar-table td {
		width: 40px;
		height: 40px;
		position: relative;
		display: inline-block;
		line-height: 40px;
		border: none;
		font-size: 14px;
		&:hover {
			border-radius: 50%;
		}
		&.in-range {
			background-color: #f0f5fe;
		}
		&.active {
			&:hover {
				position: relative;
				background-color: $blue-light;
				border-radius: 50%;
				color: $white;
				z-index: 2;
			}
		}
		&:not(.off).active {
			position: relative;
			background-color: $blue-light;
			border-radius: 50%;
			color: $white;
			z-index: 2;
			&::after {
				content: none;
			}
			&::before {
				content: none;
			}
		}
	}
	.drp-calendar.left {
		padding: 20px 0 20px 20px;
	}
	.drp-calendar.right {
		padding: 20px 20px 20px 0;
	}
}

.select {
	border: 1px solid #c1d7ff;
	border-radius: 5px;
	background-color: #f0f5fe;
	color: #3575e8;
	min-width: 230px;
	width: 100%;
	position: relative;
	line-height: 1em;
	height: 40px;
	.jq-selectbox__select-text {
		padding: 10px 40px 10px 20px;
	}
	.icon {
		width: 14px;
		height: 12px;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		fill: #3575e8;
	}
	.jq-selectbox__dropdown {
		width: 100%;
		background: #2767dc;
		border: 1px solid #2767dc;
		border-radius: 5px;
		li {
			padding: 10px 20px;
			&:hover {
				background-color: #5600ff;
			}
		}
	}
	ul {
		padding: 0;
		color: #fff;
	}
	&:focus::-webkit-input-placeholder {
		/* Firefox, Chrome, Opera */
		color: #3575e8;
	}

	&:focus::-moz-placeholder {
		/* Firefox, Chrome, Opera */
		color: #3575e8;
	}

	&:focus:-ms-input-placeholder {
		/* Firefox, Chrome, Opera */
		color: #3575e8;
	}

	&:focus::-ms-input-placeholder {
		/* Firefox, Chrome, Opera */
		color: #3575e8;
	}

	&:focus::placeholder {
		/* Firefox, Chrome, Opera */
		color: #3575e8;
	}

	&::-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #3575e8;
	}

	&:focus::-ms-input-placeholder {
		/* Microsoft Edge */
		color: #3575e8;
	}
}

td.off.available {
	visibility: hidden;
}

.daterangepicker .left .calendar-table th.next {
	visibility: hidden;
}
.daterangepicker .left.single .calendar-table th.next {
	visibility:visible;
}
.daterangepicker .right .calendar-table th.prev {
	visibility: hidden;
}

@media screen and (max-width: 768px) {
	.daterangepicker {
		width: auto;
	}
	.daterangepicker .drp-calendar.right {
		display: none;
	}
	.daterangepicker .left .calendar-table th.next {
		visibility: visible;
	}
	.daterangepicker .right .calendar-table th.prev {
		visibility: visible;
	}
	.daterangepicker .drp-calendar.left {
		padding: 10px;
	}
}
