.section-directions {
	padding-top: 65px;
	margin-bottom: 160px;
	position: relative;
	z-index: 3;
	@media screen and (max-width: 992px) {
		margin-bottom: 100px;
	}
	@media screen and (max-width: 768px) {
		margin-bottom: 40px;
	}
	@media screen and (max-width: 480px) {
		padding-top: 40px;
	}
}

.directions__title {
	margin-bottom: 120px;
	@media screen and (max-width: 992px) {
		margin-bottom: 25px;
	}
}

.directions-list {
	display: none;

	border-top: 1px solid #ebeef1;
	.directions-list__item {
		border-bottom: 1px solid #ebeef1;
		cursor: pointer;
		&.open {
			.directions-list__item-btn {
				cursor: pointer;
				&::before {
					position: absolute;
					content: "";
					width: 4px;
					height: calc(100% - 8px);
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					background-color: rgba(53, 117, 232, 1);
					border-radius: 0px 4px 4px 0px;
				}
			}
			.directions-list__content {
				max-height: 100%;
			}
		}
		.directions-list__item-btn {
			padding: 20px 24px;
			position: relative;
			color: #2c3036;
			font-size: 14px;
			font-weight: 600;
		}
		.directions-list__content {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.2s ease-out;
		}
		.directions-list__content-inner {
			padding: 24px;
			display: flex;
			flex-direction: column;
		}
		.directions-list__course {
			border-radius: 10px;
			overflow: hidden;
			position: relative;
			max-width: 272px;
			margin-bottom: 10px;
			height: 100%;
			&:last-child {
				margin-bottom: 0;
			}
			img {
				max-height: 120px;
				width: 100%;
			}
		}
		.directions-list__hover {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(
					180deg,
					rgba(0, 0, 0, 0.4) 0%,
					rgba(0, 0, 0, 0) 100%
				)
				0% 0% no-repeat;
			padding: 20px;
			display: flex;
			align-items: flex-end;
			h2 {
				font-size: 16px;
				font-weight: 600;
				color: white;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.directions-list {
		display: block;
	}
}

.directions-tabs {
	display: none;
}

@media screen and (min-width: 992px) {
	.directions-tabs {
		display: flex;
		justify-content: space-between;
		border-radius: 20px;
		box-shadow: 0 0 4px rgba(31, 49, 74, 0.08);
		background: #fff;
		min-height: 627px;
	}
}

.directions-tabs__carousel {
	position: relative;
	img {
		height: 100%;
		object-fit: cover;
	}
	.owl-nav button.owl-prev {
		top: 50%;
		position: absolute;
		left: 16px;
	}

	.owl-nav button.owl-next {
		top: 50%;
		position: absolute;
		right: 16px;
	}
}

.directions-tabs__dirs {
	max-width: 350px;
	border-right: 1px solid $grey;
	width: 29%; // ??????????????????????????????????????????
}

.directions-tabs__dirs > ul {
	list-style: none;
	padding: 0 0 20px 0;
	margin: 0;
}

.directions-tabs__dirs > ul > li {
	border-bottom: 1px solid #ebeef1;
}

.directions-tabs__dirs > ul > li > span {
	display: block;
	padding: 27px 0 27px 40px;
	font-size: 16px;
	font-weight: 600;
	color: #2c3036;
	cursor: pointer;
}

.directions-tabs__dirs > ul.sub-menu > li:last-child {
	border-bottom: 0;
}

.directions-tabs__dirs .sub-menu {
	padding: 0;
	overflow: hidden;
	max-height: 0;
	list-style: none;
}

.directions-tabs__dirs .sub-menu.active {
	overflow: visible;
	max-height: 100%;
	li.active > span {
		color: #3575e8;
	}
}

.directions-tabs__dirs .sub-menu li {
	position: relative;
	padding: 0 0 0 40px;
	overflow: hidden;
}

.directions-tabs__dirs .sub-menu li.active:before {
	content: "";
	position: absolute;
	top: 5px;
	left: -5px;
	width: 8px;
	height: 40px;
	background: #3575e8;
	border-radius: 10px;
}

.directions-tabs__dirs .sub-menu li {
	border-top: 1px solid #ebeef1;
}

.directions-tabs__dirs .sub-menu li span {
	display: block;
	padding: 12px 0;
	font-size: 14px;
	font-weight: 400;
	color: #6c6f72;
	cursor: pointer;
}

.directions-tabs__descs {
	display: flex;
	justify-content: space-between;
	width: 75%;
	.item {
		height: 260px;
	}
}

@media screen and (min-width: 1920px) {
	.directions-tabs__descs {
		width: 71%;
	}
}
.directions-tabs__content {
	width: 100%;
}

.directions-tabs__content-inner {
	display: flex;
	width: 100%;
	height: 100%;
}

.directions-tabs__descs-left {
	width: calc(100% - 300px);
}

.directions-tabs__descs-left .owl-dots {
	position: absolute;
	bottom: 5px;
	width: 100px;
	transform: translateX(-50%);
	left: 50%;
	z-index: 999;
	text-align: center;
}

.directions-tabs__descs-left button.owl-dot {
	width: 8px;
	height: 8px;
	margin: 0 5px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	&:focus {
		outline: none;
	}
}

.directions-tabs__descs-left button.owl-dot.active {
	background: #fff;
	outline: none;
}

.directions-tabs__descs-right {
	width: 300px;
	border-left: 1px solid #ebeef1;
}

.directions-tabs__description {
	padding: 40px;
}

.directions-tabs__description h3 {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
	color: #2c3036;
}

.directions-tabs__description p {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.75;
	color: #6c6f72;
	margin-bottom: 40px;
}

.directions-tabs__details {
	padding: 30px;
	@media screen and (max-width: 1200px) {
		padding: 20px;
	}
}

.directions-tabs__details_course {
	border-radius: 15px;
	box-shadow: 0px 2px 4px rgba(7, 16, 32, 0.08);
	background-color: $white;
}

.directions-tabs__details h4 {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 600;
	margin-bottom: 30px;
}

.directions-tabs__details p {
	line-height: 1.5em;
	margin-bottom: 50px;
}

.directions-tabs__details {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			padding-bottom: 20px;
			color: #6c6f72;
			font-size: 14px;
			line-height: 21px;
			&:before {
				top: 7px;
				transform: translateY(0);
				border: 1px solid #3575e8;
				width: 5px;
				height: 5px;
			}
		}
	}
	.total-time {
		color: #70cc2c;
		font-size: 14px;
		margin-bottom: 30px;
	}
	.price {
		color: #2c3036;
		font-size: 36px;
		text-align: center;
		margin-bottom: 34px;
		margin-top: 34px;
		span {
			font-size: 14px;
			margin-top: -7px;
		}
	}
	.directions-tabs__actions {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
		margin-top: 30px;
		.directions-tabs__btn-presentation {
			margin-bottom: 20px;
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: center;
			padding: 8px 14px;
			.icon {
				margin-right: 10px;
				font-size: 18px;
			}
		}
	}
}

.directions-tabs__details > img {
	width: 100%;
}

.section-directions.transparent-btn {
	margin: 28px auto 20px;
	padding: 10px 42px;
	max-width: 190px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	border: 1px solid blue;
	border-radius: 20px;
	font-size: 12px;
	font-weight: 600;
	color: #3575e8;
}

.section-directions.transparent-btn .icon {
	width: 18px;
	height: 18px;
	margin-right: 10px;
}

.section-directions.blue-btn {
	margin: 0 auto;
	padding: 10px 44px;
	max-width: 190px;
	font-size: 12px;
	font-weight: 600;
}
$height: 67px;
$max-height: 10 * $height;
$timing: 0.3s;

.direction-dropdown-price {
	width: 100%;
	position: relative;
	display: inline-block;
	min-height: $height;
	max-height: $height;
	overflow: hidden;
	cursor: pointer;
	text-align: left;
	white-space: nowrap;
	color: $text;

	outline: none;
	border: 1px solid $grey;
	border-radius: 15px;
	background-color: $white;

	transition: $timing all ease-in-out;
	input {
		width: 1px;
		height: 1px;
		display: inline-block;
		position: absolute;
		opacity: 0.01;
	}
	label {
		display: block;
		height: $height;
		line-height: $height;
		padding: 0 1em;
		cursor: pointer;
		position: relative;
		transition: $timing color ease-in-out;

		display: flex;
		justify-content: space-between;
		span {
			&:nth-child(2) {
				margin-left: 15px;
				font-weight: bold;
			}
		}
		&:nth-child(2) {
			margin-top: $height;
		}
	}
	input:checked + label {
		display: block;
		border-top: none;
		position: absolute;
		top: 0;
		width: 100%;

		&:nth-child(2) {
			margin-top: 0;
			position: relative;
		}
	}

	&::after {
		position: absolute;
		content: "";
		display: block;
		pointer-events: none;
		right: 14px;
		top: 26px;
		width: 10px;
		height: 10px;
		border: none;
		transform: rotate(45deg);
		transition: all 0.15s ease-in-out;
		border-bottom: 1px solid $blue;
		border-right: 1px solid $blue;
		transition: 0.4s all ease-in-out;
	}
	&.expanded {
		background: $white;
		border-radius: 15px;
		padding: 0;
		box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
		max-height: $max-height;

		label {
			border-top: 1px solid #d9d9d9;
		}
		&::after {
			transform: rotate(-135deg);
			top: 32px;
		}
	}
}

.directions-tabs__price {
	margin-top: 20px;
	position: relative;
	height: $height;
	z-index: 1;
}

.equipment__block {
	border-bottom: 1px solid #929496;
	border-top: 1px solid #929496;
	margin-bottom: 40px;
}
.equipment__row {
	display: flex;
	justify-content: space-between;
	padding: 15px 40px;
	border-bottom: 1px solid #ebeef1;
	// @media screen and (max-width:992px){
	// 	padding: 15px 20px;
	// }
	&:last-of-type {
		border-bottom: none;
	}
	.equipment__header & {
		padding: 40px 40px 30px;
	}
}
.equipment__column {
	font-size: 14px;
	color: #6c6f72;
	&.equipment__column_header {
		font-size: 18px;
		color: #2c3036;
		font-weight: 600;
	}
	&:first-child {
		width: auto;
	}
	&:last-child {
		min-width: 100px;
		text-align: center;
	}
}

@media screen and (max-width:992px){
.equipment__row {
		padding: 15px 20px;
		.equipment__header & {
			padding: 20px 20px 15px;
		}
	}
}

.directions-tabs__price-block {
	margin-top: 20px;
}

.directions-tabs__price-action {
	display: block;
	&.hide {
		display: none;
	}
}

.directions-tabs__dropdown {
	display: flex;
	flex-direction: column;
	align-items: center;
	& > div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	p {
		margin-bottom: 0;
	}
	&.hide {
		display: none;
	}
}