@import "./../vars";
.footer {
  border-top: 1px solid #EBEEF1;
}

.footer-bottom {
  padding: 4px 0;
  background: #000;
  border-radius: 36px 36px 0 0;
  p {
    margin: 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 2.7;
    text-align: left;
    color: white;
  }
}

.footer-top {
  padding: 40px 0;
  .footer-top__row {
    display: flex;
    .column {
      flex-basis: 25%;
      width: 25%;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin-bottom: 16px;
          transition: color .2s ease-in;
          &:hover {
            a,
            span {
              color: $blue-light;
            }
          }
          &:last-child {
            margin-bottom: 0;

          }
          a {
            color: #6C6F72;
            font-size: 10px;
            text-decoration: none;
            transition: color .2s ease-in;

          }
        }
      }
    }
  }
}

.column-social {
  li a {
    display: flex;
    align-items: center;
  }
  .icon {
    color: #CBCDCF;
    padding-right: 10px;
    position: relative;
    top: 4px;
    transition: color .2s ease-in;
    font-size: 18px;
  }
}

@media only screen and (max-width : 768px) {
  .footer-top {
    padding: 30px 0 10px;
    .footer-top__row {
      flex-direction: column;
      .footer-top__logo {
        display: none;
      }
      .column {
        width: 100%;
        flex-basis: 100%;
        ul {
          li {
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 20px;
            }
          }
        }
      }
      .column-social {
        padding: 40px 0 0;
        border-top: 1px solid #EBEEF1;
        ul {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          li {
            width: 50%;
          }
        }

      }
    }
  }
}