.header {
	height: 55px;
	padding: 5px 80px;
	position: absolute;
	width: 100%;
	z-index: 2;
	transition: all 0.3s linear;

	.header-inner {
		display: flex;
		height: 42px;
	}
	.header__left {
		margin-right: 30px;
		display: flex;
		align-items: center;
		flex-shrink: 0;
		.header__city {
			p {
				font-size: 10px;
				font-weight: 300;
				white-space: nowrap;
			}
		}
		.header__city {
			padding-left: 10px;
		}
	}
	.header__right {
		margin-left: auto;
		display: flex;
		align-items: center;
	}
	.nav {
		display: flex;
		align-items: center;

		a {
			transition: all 0.3s linear;

			padding: 15px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 10px;
			white-space: nowrap;

			position: relative;

			&::after {
				position: absolute;
				content: "";
				width: 0;
				height: 1px;
				bottom: 10px;
				left: 15px;
				border-radius: 3px;
				background-color: #fff;
				transition: width 0.3s linear;
			}
			&:hover {
				&::after {
					width: calc(100% - 30px);
				}
			}
		}
	}
	.header-contact {
		.header__basket {
			display: flex;
			align-items: center;
			margin-right: 10px;
			height: 15px;
		}
		.header__social {
			margin-right: 10px;
			display: block;
			width: 24px;
			height: 24px;
		}
		.header-contact__tel {
			font-size: 12px;
			font-weight: 600;
			text-decoration: none;
			white-space: nowrap;
		}
		.header__basket {
			.ordered {
				display: none;
			}
			.no-ordered {
				display: block;
			}
		}
		.header__basket.has-order {
			.ordered {
				display: block;
			}
			.no-ordered {
				display: none;
			}
		}
	}
	.header__select--mobile {
		display: none;
	}
	&.header--light {
		background-color: white;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
		.nav {
			a {
				color: #2c3036;
				&::after {
					background-color: #2c3036;
				}
			}
		}
		.header-contact {
			.header-contact__tel {
				color: #2c3036;
			}
		}
		.header__city {
			p {
				color: #6c6f72;
			}
		}
		.btn-burger {
			span {
				background-color: #2c3036;
			}
		}
		.header__basket .a {
			stroke: #2c3036;
		}
	}
	&.header--dark {
		background-color: transparent;
		.nav {
			a {
				color: white;
				&::after {
					background-color: #fff;
				}
			}
		}
		.header-contact {
			.header-contact__tel {
				color: white;
			}
		}
		.header__city {
			p {
				color: #ffffff;
			}
		}
		.btn-burger {
			span {
				background-color: #fff;
			}
		}
		.header__basket .a {
			stroke: $white;
		}
	}
	&.header__sticky {
		position: fixed;
		background-color: rgba(255,255,255,0.98);
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
		z-index: 11;
		.nav {
			a {
				color: #2c3036;
				padding: 15px 20px;
				&::after {
					background-color: #2c3036;
				}
				&::after {
					left: 20px;
				}
				&:hover {
					&::after {
						width: calc(100% - 40px);
					}
				}
			}
		}
		.header__city {
			p {
				color: #6c6f72;
			}
		}
		.header__social {
			display: none;
		}
		.header-contact {
			.header-contact__tel {
				color: #2c3036;
			}
		}
		.btn-burger {
			span {
				background-color: #2c3036;
			}
		}
		.header__basket .a {
			stroke: #2c3036;
		}
	}
}
.btn-burger {
	display: none;
}


@media screen and (max-width: 1500px) {
	.header {
		padding: 5px 24px;
		.header__left {
			margin-right: 20px;
		}
	}
}
@media screen and (max-width: 1350px) {
	.header {
		padding: 5px 24px;
		.nav a {
			padding: 15px 10px;
			&::after {
				left: 10px;
			}
			&:hover {
				&::after {
					width: calc(100% - 20px);
				}
			}
		}
	}
}
@media screen and (max-width: 1270px) {
	.header {
		padding: 5px 24px;
		.height-inner {
			height: 35px;
		}
		.btn-burger {
			display: block;
			position: relative;
			width: 18px;
			height: 18px;
			padding: 3px;
			margin-right: 10px;
			background-color: transparent;
			span {
				width: 18px;
				height: 3px;
				background-color: white;
				border-radius: 31px;
				position: absolute;
				left: 0;
				&:nth-child(1) {
					top: 1px;
				}
				&:nth-child(2) {
					top: 9px;
				}
				&:nth-child(3) {
					top: 17px;
				}
			}
		}
		.nav {
			opacity: 0;
			visibility: hidden;
			width: 0;
			flex-direction: column;
			a {
				opacity: 0;
				transition: opacity 0.3s;
				&::after {
					content: none;
				}
			}
		}
		.header-contact {
			.header__social {
				display: none;
			}
		}
	}

	// Body OPEN
	body.menu-open {
		overflow: hidden;
		.header {
			.btn-burger {
				span {
					background-color: #2c3036;
				}
			}
		}
	}

	// Header OPEN
	.header.open {
		position: fixed;
		height: 100%;
		z-index: 1040;
		overflow: hidden;
		background-color: #ffffff;

		.header__city {
			p {
				color: #6c6f72;
			}
		}

		.header__basket .a {
			stroke: #2c3036;
		}

		.nav {
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 100px;
			align-content: flex-start;
			color: #2c3036;
			align-items: flex-start;
			opacity: 1;
			visibility: visible;
			width: auto;
			a {
				color: #2c3036;
				font-size: 14px;
				font-weight: 700;
				padding: 16px 0;
				opacity: 1;
			}
		}
		.header-contact {
			.header-contact__tel {
				color: #2c3036;
			}
		}
		.btn-burger {
			span:nth-child(1) {
				transform: rotate(-45deg);
				top: 50%;
			}
			span:nth-child(2) {
				display: none;
			}
			span:nth-child(3) {
				transform: rotate(45deg);
				top: 50%;
			}
		}
	}
}

@media screen and (max-width: 560px) {
	.header {
		.header-contact__tel {
			display: none;
		}
		.header__city {
			display: none;
		}
		&.open {
			.nav {
				top: 200px;
			}
		}
	}
}


@media screen and (max-width: 480px) {
	.header {
		overflow: hidden;
		.btn-burger {
			margin-right: 24px;
		}
	}
}
// COLOR
$white: #ffffff;
$blue: #3575e8;
$grey-500: #2c3036;
$grey-100: #f6f7f8;
$grey-200: #6c6f72;

// HEADER DESKTOP
// END:: HEADER DESKTOP

// HEADER MENU
// END:: HEADER MENU

// HEADER DROPDOWN COMMON
.dropdown__rounded {
	position: relative;
	// top: 40px;
	font-size: 10px;
	font-weight: 600;
	width: auto;
	cursor: pointer;

	.dk-selected {
		border-radius: 10px;
		border: none;

		&::hover,
		&::focus {
			border-color: none;
		}
		.dk-select-open-down & {
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
	}
	.dk-selected::after {
		content: none;
	}
	&.dk-select-open-down .dk-selected::before {
		transform: rotate(225deg);
	}
	.dk-selected::before {
		margin-top: -4px;
		position: absolute;
		content: "";
		display: block;
		pointer-events: none;
		right: 3px;
		top: 50%;
		width: 5px;
		height: 5px;
		transform-origin: 66% 66%;
		border: none;
		transform: rotate(45deg);
		transition: all .2s ease-in-out;
		border-bottom: 1px solid $blue;
		border-right: 1px solid $blue;

	}
	.dk-select-options {
		left:auto;
		top: calc(100% + 15px);
		padding: 0;
		border-radius: 10px;
		max-height: 200px;
		// max-width: 80px;
		border: none;
		box-shadow:  2px 4px 7px rgba(0, 0, 0, 0.08);
		.dk-select-open-down & {
			border-radius: 10px;
		}
		@media screen and (max-width: 480px) {
			right: auto;
			left: 0;
		}
	}
	.dk-option {
		padding: 24px;
		font-size: 12px;
		font-weight: normal;
		border-bottom: 1px solid $grey-100;
		&:last-child {
			border-bottom: none;
		}
		// &.dk-option-hidden {
		// 	border: none;
		// }
	}
	.dk-option-highlight {
		background-color: transparent;
		color: $blue;
	}
}

.dropdown__custom {
	width: 100%;
	.dk-selected {
		width: 100%;
		border-radius: 5px;
		padding: 10px 40px 10px 20px;
		height: 40px;
		color: #6c6f72;
		border: 1px solid #ebeef1;
		background-color: #f6f7f8;
		&::after {
			content: none;
		}
		&::before {
			content: "\E003";
			font-family: "icons";
			position: absolute;
			height: 12px;
			top: 50%;
			transform: translateY(-50%);
			color: $blue-light;
			right: 10px;
			font-size: 12px;
			border: none;
		}
	}

}
// END:: HEADER DROPDOWN COMMON

// HEADER CITY
.header-dropdown-desktop-city {
	.dk-selected {
		padding-left: 0;
		height: 20px;
		width: 70px;
		line-height: 20px;
		border-radius: 0;
		background-color: transparent;
		.header--dark & {
			color: $white;
		}
		.header.open & {
			color: $grey-500;
		}
		&::before {
			.header--dark & {
				border-color: $white;
			}
			.header.open & {
				border-color: $grey-500;
			}
			.header--light & {
				border-color: $grey-500;
			}
		}
		.header__sticky & {
			color: $grey-500;
			&::before {
				border-color: $grey-500;
			}
		}
	}
}
// END:: HEADER CITY

// CONTACTS DROPDOWN
.contact-dropdown-desktop-city {
	.dk-selected {
		width: auto;
		height: 20px;
		line-height: 20px;
		border-radius: 0;
		background-color: transparent;
		font-size: 14px;
	}
}
//


.dropdown-desktop-city {
	.dk-selected {
		width: auto;
		height: 20px;
		line-height: 20px;
		border-radius: 0;
		background-color: transparent;
		font-size: 16px;
		text-transform: uppercase;
	}
	.dk-select-options {
		top: 100%;
		box-shadow: 0px 0px 19px rgba(153, 153, 153, .5);
	}
}

// HEADER LANGUAGE
.header-dropdown-desktop-lang {
	margin-left: 20px;
	.dk-selected {
		padding-left: 10px;
		height: 20px;
		width: 50px;
		line-height: 20px;
		.header--dark & {
			background-color: rgba(255, 255, 255, 0.15);
			color: $white;
			text-transform: uppercase;
		}
		.header--light & {
			background-color: $grey-100;
		}
		.header.open & {
			color: $grey-500;
		}
		&::before {
			.header--dark & {
				border-color: $white;
			}
			.header.open & {
				border-color: $grey-500;
			}
			.header--light & {
				border-color: $grey-500;
			}
		}
	}
	.header__sticky & {
		display: none;
	}
	@media screen and (max-width: 560px) {
		display: none;
	}
}
// END:: HEADER LANGUAGE

// HEADER LOGO
.logo {
	padding-right: 10px;
	border-right: 1px solid $grey-500;
	flex-shrink: 0;
	transition: all 0.3s linear;
	img {
		height: 33px;
	}
	.header--light:not(.header__sticky) & {
		border-color: $grey-500;
	}
	.header--dark:not(.header__sticky) & {
		border-color: $white;
	}
	.header__sticky & {
		border-color: $grey-500;
	}
	.header.open:not(.header__sticky) & {
		border-color: $grey-500;

	}
}
.logo--white {
	display: none;
	.header.open &,
	.header--light:not(.header__sticky) & {
		display: block;
	}
}
.logo--dark {
	display: none;
	.header.open:not(.header__sticky) & {
		display: none;
	}
	.header--dark:not(.header__sticky) & {
		display: block;
	}
}
.logo--small {
	display: none;
	border: none;
	width: 33px;
	height: 33px;
	.header__sticky & {
		display: block;
	}
	.header__sticky.open & {
		display: none;
	}
}
@media screen and (max-width: 560px) {
	.logo {
		border: none;
	}
}
// END:: HEADER LOGO

// HEADER MOBILE LANGUAGE
.header-dropdown-mobile-lang {
	display: none;
	position: absolute;
	left: 24px;
	top: 100px;
	.dk-selected {
		border-radius: 15px;

		background-color: rgba(53, 117, 232, 0.15);
		color: $blue;
		text-transform: uppercase;

		padding: 6px 38px 6px 16px;
		font-size: 14px;
		font-weight: 600;

		&::before {
			border-color: $blue;
		}
	}
	.header.open &.dk-select {
		display: block;
	}
}
@media screen and (min-width: 561px) {
	.header.open .header-dropdown-mobile-lang.dk-select {
		display: none;
	}
	.header-dropdown-mobile-lang {
		display: none;
	}
}
// END:: MOBILE LANGUAGE

// HEADER MOBILE CITY
.header-dropdown-mobile-city {
	display: none;
	position: absolute;
	left: 24px;
	top: 150px;
	.header.open &.custom-selected {
		display: block;
	}
}
@media screen and (min-width: 561px) {
	.header.open .header-dropdown-mobile-city.custom-selected {
		display: none;
	}
	.header-dropdown-mobile-city {
		display: none;
	}
}


// END:: HEADER MOBILE CITY

// HEADER MOBILE CALL
.header__actions {
	margin-right: 10px;
	display: flex;
	a {
		display: flex;
		text-decoration: none;
		position: relative;
		transition: color .2s ease;
		@media screen and (max-width:480px) {
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.header__sticky & {
		.header__actions_white {
			display: none;
		}
		.header__actions_blue {
			display: block;
		}
	}
	.header__actions_white {
		display: block;
	}
	.header__actions_blue {
		display: none;
	}
	.header__actions_mobile {
		display: none;
		@media screen and (max-width:480px) {
			display: block;
		}
	}
}
// .header__actions_mobile {
// 	margin-right: 10px;
// 	.header-call {
// 		display: none;
// 	}
// 	a {
// 		margin-right: 10px;
// 		&:last-child {
// 			margin-right: 0;
// 		}
// 	}
// 	@media screen and (max-width: 560px) {
// 		margin-right: 0;
// 		.header.header__sticky & {
// 			a {
// 				display: flex;
// 			}
// 		}
// 		.header-call {
// 			display: flex;
// 		}
// 	}
// }
// END:: HEADER MOBILE CALL

// HEADER MOBILE MESSAGE
// END:: HEADER MOBILE MESSAGE

// HEADER MOBILE
// END:: HEADER MOBILE

.choose-city {
	position: absolute;
	top: 100%;
	z-index: 2;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	border-radius: 10px;
	padding: 15px;

	display: flex;
	flex-direction: column;
	align-items: center;
	& > * {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	@media screen and (max-width: 768px) {
		display: none;
	}
}

.choose-city-overflow {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	@media screen and (max-width: 768px) {
		display: none;
	}
}