.form__row {
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 30px;
}
.form__row_date {
	width: calc(50% + 15px);
}
.form__column {
	width: 50%;
	margin-left: 15px;
	margin-right: 15px;
}
.form__textarea,
.form__input {
	border: 1px solid #ebeef1;
	color: $text;
	border-radius: 5px;
	background: #f6f7f8;
	display: block;
	width: 100%;
	padding: 10px 20px;
	-webkit-appearance: none;
	&:focus {
		border-color: $blue-light;
	}
}

.form__column {
	position: relative;
}

.form__input + .error {
	position: absolute;
	bottom: -17px;
	font-size: 12px;
	color: $error;
	padding-left: 20px;
}

.form__input_daterange  + .error {
  bottom: -30px;
  padding-left: 10px;
}

.form__input.error {
	border-color: $error;
}

.form__input.success {
	border-color: $success;
}
.form__radio_group {
  position: relative;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	border: none;
}

.form__radio_group--line {
  flex-direction: row;
  label {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.form__input_daterange {
  padding: 10px;
}

.form__radio_group > .error {
	position: absolute;
	bottom: -17px;
	padding-left: 20px;
	font-size: 12px;
	color: $error;
}

.form__radio {
	margin-bottom: 30px;
}

.radio {
	padding-left: 20px;
	position: relative;
	color: $text;
	cursor: pointer;
}

.radio__input {
	position: absolute;
	appearance: none;
	border: none;
	opacity: 0;
}

.radio__box {
	position: absolute;
	top: .5em;
	transform: translateY(-50%);
	margin-left: -20px;

	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid $text;
}
// Checked
.radio__input:checked + .radio__box {
	background-color: $blue-light;
	border-color: $blue-light;
}
// Focused
.radio__input:disabled + .radio__box {
	opacity: 0.5;
}

@media screen and (max-width: 1200px) {

  .form__row_date {
    flex-direction: column;
    margin-bottom: 0;
    width: calc(100% - 30px);
    .form__column {
      margin-bottom: 30px;
    }
  }

  .form__radio_group--line {
    flex-direction: column;
    label {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 900px) {
  .form__row {
    flex-direction: column;
    margin: 0;
  }
  .form__column {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
  }
  .form__row_date {
    width: 100%;
  }
}