.loader-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 12;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.body-loader {
	overflow: hidden;
}

.loader {
  transform: rotate(45deg);
  display: grid;
  grid-template-columns: 35px 35px;
	grid-gap: 5px;
	animation: rotate 3s infinite;
}
.dots {
  border-radius: 50%;
	height: 35px;
	background-color: rgba(53, 117, 232, 0.7);
}

@keyframes rotate {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
    grid-gap: 30px;
  }
  50% {
    transform: rotate(180deg);
    grid-gap: 5px;
  }
  100% {
    transform: rotate(405deg);
  }
}
