.modal {
	display: none;
	width: 100%;
	border-radius: 20px;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	position: relative;
	.modal__row {
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
	}
	.modal__space_bottom {
		margin-bottom: 30px;
	}

	.modal__header {
		height: 135px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}
	.modal__body {
		padding: 40px 60px 60px;
		.modal__title {
			margin-bottom: 30px;
			line-height: 27px;
		}
		.form__input {
			margin-bottom: 20px;
		}
		.form__textarea {
			margin-bottom: 30px;
		}
		.modal__action {
			display: flex;
			justify-content: space-between;
			align-content: center;
			align-items: center;
			input {
				max-width: 160px;
				margin-right: 10px;
				margin-bottom: 0;
				display: none;
			}
			.modal__action_text {
				color: #3575e8;
				font-size: 16px;
				cursor: pointer;
			}
		}
	}
	.mfp-close {
		position: absolute;
		top: -15px;
		right: -15px;
		display: block;
		margin: 0;
		padding: 0;
		width: 30px;
		height: 30px;
		border: none;
		border-radius: 50%;
		background-color: $white;
		box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.24);
		opacity: 1;
		&::after {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			background-image: url('../img/icons/close-cross.svg');
			background-repeat: no-repeat;
			background-size: 13px;
			background-position: center;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.modal.modal-small {
  border-radius: 10px;
}

.modal.modal-success-submit {
	text-align: center;
}

.modal-header-call {
  text-align: center;
  p {
    margin-bottom: 20px;
  }
  a {
    color: #2c3036;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    transition: text-decoration .2s ease-in;
    &:hover {
      text-decoration: underline;
    }
	}
	// .modal__social {
	// 	display: flex;
	// 	justify-content: center;
	// }

}

@media screen and (max-width: 480px) {
	.modal {
		.modal__body {
			padding: 20px 30px 30px;
			.form__textarea {
				height: 100px;
				margin-bottom: 20px;
			}
			.modal__action {
				flex-direction: column;
				input {
					max-width: 100%;
					margin-right: 0;
					margin-bottom: 20px;
				}
				.modal__action_text {
					line-height: 40px;
					margin-bottom: 20px;
				}
			}
		}
	}
}

.mfp-bg {
	&.mfp-blur {
		background: transparent;
	}
}
.mfp-content {
	max-width: 500px;
}

.blur {
	filter: blur(10px);
}

.modal--dark {
	.mfp-bg {
		background: #0b0b0b;
	}
}

.open-modal {
	overflow: hidden;
	.mfp-wrap {
		overflow: auto;
	}
	.mfp-content {
		padding: 24px;
	}
}
