.label {
	border-radius: 5px;
	display: inline-block;
	padding: 10px 15px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	&.orange {
		background: linear-gradient(90deg, #f7a01e 0%, #ff8800 100%) 0% 0% no-repeat;
	}
	span {
		&:first-child {
			padding-right: 10px;
			position: relative;
			top: 3px;
			font-size: 18px;
		}
	}
	@media screen and (max-width: 480px) {
		margin-bottom: 30px;
		padding: 7px 10px;
	}
}

.chip {
	position: relative;
	width: 100%;
	max-width: 360px;
	border-radius: 10px;
	color: white;
	line-height: 27px;
	&.chip_green {
		background: transparent
			linear-gradient(90deg, #70cc2c 0%, #70cc2c 52%, #60b720 100%) 0% 0%
			no-repeat;
		&::before {
			background-color: #5eaa26;
		}
	}
	&.chip_orange {
		background: transparent linear-gradient(90deg, #f7a01e 0%, #ff8800 100%) 0%
			0% no-repeat;
		&::before {
			background-color: #ce6319;
		}
	}
	.chip_wave {
		background-image: url("../img/icons/texture-wave.svg");
		background-size: 18px 23px;
	}

	.chip__content {
		display: flex;
		padding: 40px;
	}
	.chip__icon {
		font-size: 40px;
		width: 60px;
		position: relative;
		text-decoration: none;
		display: block;


		.icon {
			color: white;
			&::before {
				position: absolute;
				top: 40%;
			}
		}
	}
	.icon-icon-elipse-play {
		cursor: pointer;

	}
	@media screen and (max-width: 480px) {
		.chip__content {
			padding: 20px;
		}
	}
}
