.pagination {

  .page-numbers {
    width: 40px;
    height: 40px;
    border: 1px solid #EBEEF1;
    border-radius: 5px;
    background: #F6F7F8;
    color: #6C6F72;
    line-height: 40px;
    text-align: center;
    margin: 0 8px;
    text-decoration: none;
    &.current {
      background: #F0F5FE;
      border: 1px solid #C1D7FF;
      color: #3575E8;
    }
  }
  .page-numbers.prev,
  .page-numbers.next {
      background: transparent;
      border: none;
      background-size: 11px;
      background-repeat: no-repeat;
      text-indent: -99999px;
  }
  .page-numbers.prev {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        display: block;
        right: 3px;
        transform-origin: 66% 66%;
        transform: rotate(45deg);
        transition: all 0.15s ease-in-out;
        border-left: 1px solid #3575e8;
        border-bottom: 1px solid #3575e8;
        top: 50%;
        width: 9px;
        height: 9px;
        right: 16px;
        margin-top: -6px;
        border-width: 2px;
    }

  }
  .page-numbers.next {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        display: block;
        right: 3px;
        transform-origin: 66% 66%;
        transform: rotate(45deg);
        transition: all 0.15s ease-in-out;
        border-right: 1px solid #3575e8;
        border-top: 1px solid #3575e8;
        top: 50%;
        width: 9px;
        height: 9px;
        right: 16px;
        margin-top: -6px;
        border-width: 2px;
    }
  }

}