.section__row {
	display: flex;
	.content {
		width: 100%;
		max-width: calc(100% - 360px);
		padding-right: 60px;
	}
	.aside {
		width: 360px;
	}
	@media screen and (max-width: 768px) {
		flex-direction: column;
		.content {
			max-width: 100%;
			padding-right: 0;
		}
		.aside {
			width: 100%;
		}
	}
}

.section__content {
	h3 {
		color: #2c3036;
		font-size: 36px;
		font-weight: 600;
		margin-bottom: 40px;
	}
	h4 {
		color: #2c3036;
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 40px;
	}
	p {
		color: #6c6f72;
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
		margin-bottom: 40px;
	}
	ol {
		list-style: none;
		margin: 0;
		padding: 0;
		color: #6c6f72;
		font-size: 16px;
		li {
			padding-left: 15px;
			margin-bottom: 40px;
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		color: #6c6f72;
		font-size: 16px;
		li {
			padding-left: 15px;
			margin-bottom: 40px;
		}
	}

	.item--hover {
		transition: opacity 0.2s ease-in;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		background: rgba(0, 0, 0, 0.5);
		.icon {
			font-size: 28px;
		}
	}
	.image {
		&.image--block {
			display: grid;
			grid-template-columns: 2fr 1fr;
			grid-gap: 30px;
			.image__item {
				display: block;
				position: relative;
				&:first-child {
					grid-row: span 2;
					height: 100%;
					img {
						height: 100%;
						width: 100%;
					}
				}
				&:hover {
					.item--hover {
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
	}
	.content__image {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-gap: 30px;
		a:nth-child(4n + 1) {
			grid-column: 1/-1;
		}
		a:nth-child(4n + 2) {
			grid-row: span 2;
			height: 100%;
			img {
				height: 100%;
				max-height: 245px;
			}
		}
		a:nth-child(4n + 3),
		a:nth-child(4n + 4) {
			max-height: 105px;
			height: 100%;
			img {
				height: 100%;
			}
		}

		a {
      position: relative;
      img {
				object-fit: cover;
				width: 100%;
      }
			&:hover {
				.item--hover {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
	@media screen and (max-width: 768px) {
		margin-bottom: 80px;
		.image {
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 20px;
			img:first-child {
				height: auto;
			}
		}
	}
	@media screen and (max-width: 480px) {
		.image {
			grid-template-columns: 1fr;
			grid-gap: 20px;
			img:first-child {
				height: auto;
			}
		}
	}
}

.aside {
	h4 {
		margin-bottom: 40px;
	}
	.aside__minicards {
		margin-bottom: 50px;
	}
	.aside__minicard {
		margin-bottom: 20px;
	}
	.aside__tour-info {
		margin-bottom: 60px;
		max-width: 360px;
	}
	.aside__card-info {
		margin: 0 auto;
		max-width: 360px;
		width: 100%;
	}
	.aside__directions-tabs {
		margin-bottom: 50px;
	}
	@media screen and (max-width: 768px) {
		margin: 0 auto;
		.aside__tour-info {
			margin: 0 auto 60px;
    }
    .aside__details {
      display: flex;
    flex-direction: column;
    align-items: center;
    }
	}
}
