$widthAside: 360px;

.section-steps {
  display: flex;
}

.section-steps__left {
  width: 100%;
  margin-right: 60px;
}

.section-steps__right {
  width: $widthAside;
  flex: 0 0 $widthAside;
}

.basket-steps .content {
  padding: 30px 0;
}
.steps-courses {
  .steps-courses__btn {
    margin-top: 50px;
  }
  .special-offer {
    position: relative;
  }
  .steps-courses__btn-close {
    position: absolute;
    top: -15px;
    right: -15px;
  }
}

.section-steps__btn {
  margin: 0 auto;
  display: inherit;
  padding-left: 25px;
}

.basket-steps h4 {
  color: $text;
  margin-bottom: 30px;
  font-size: 16px;
}

.dropdown-post-address {
  max-width: 380px;
  width: 100%;
  .list {
    width: inherit;
  }
}
.basket-steps {
  position: relative;
}

// .steps-line {
//   width: 100%;
//   height: 1px;
//   background: #C1D7FF;
//   position: absolute;
//   top: 30px;
//   &.steps-indicator-0 {
//     .indicator {
//       transform: translateX(0);
//     }
//   }
//   &.steps-indicator-1 {
//     .indicator {
//       transform: translateX(100%);
//     }
//   }
//   &.steps-indicator-2 {
//     .indicator {
//       transform: translateX(200%);
//     }
//   }
//   &.steps-indicator-3 {
//     .indicator {
//       transform: translateX(300%);
//     }
//   }
//   .indicator {
//     width: 25%;
//     height: 1px;
//     position: absolute;
//     top: 0;
//     background: $blue-light;
//     transition: all .5s ease-in;
//   }
// }

.steps ul {
  border-bottom: 1px solid #C1D7FF;
}

.icon-plus {
  position: relative;
  margin-right: 5px;
  display: inline-block;
  top: 2px;
  width: 12px;
  height: 12px;
  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: $blue-light;
  }
  &::before {
    width: 2px;
    height: 12px;
    left: 5px;
    top: 0;
  }
  &::after {
    width: 12px;
    height: 2px;
    top: 5px;
    left: 0;

  }
}

@media screen and (max-width: 768px) {
  .section-steps {
    flex-direction: column;
  }
  .section-steps__left {
    margin-right: 0;
  }
  .section-steps__right {
    margin: 0 auto;
  }
  .steps-line {
		top: 115px;
  }
  .steps-courses {
    .steps-courses__btn {
      display: block;
      margin: 50px auto;
    }
  }
}

@media screen and (max-width: 480px) {
  .section-steps__right {
    width: 100%;
  }
}