.steps {
	ul {
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
		font-weight: 600;
		min-width: 110px;
		a {
			display: inline-block;
			padding-bottom: 10px;
			color: $text;
			text-decoration: none;
    }
    &:nth-child(2) ~ .indicator{
      transform: translateX(100%);
    }    
		&.current {
			a {
				color: $blue-light;
			}
		}
		&.disabled {
			a {
				opacity: .5;
				cursor: initial;
			}
		}
		.number,
		.current-info {
			display: none;
		}
	}
}

.c-tabs {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	width: 100%;
	li {
		width: 50%;
		border: 2px solid $blue-light;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		color: $blue-light;
		font-size: 12px;
		padding: 13px 26px;
		cursor: pointer;
		transition: all 0.3s ease-in;
		&.is-active {
			background-color: $blue-light;
			color: $white;
		}
	}
}

.c-content {
  padding: 30px 0;
}

.c-content-certificate {
	padding-top: 0;
}

@media screen and (max-width: 768px) {
	.steps {
		ul {
			flex-direction: column;
		}
	}

}
