.tour-info {
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(7, 16, 32, 0.08);
  padding: 40px;
  .tour-info__section {
    margin-bottom: 30px;
  }
  .tour-indo__title {
    margin-bottom: 20px;
    color: #6C6F72;
    font-size: 16px;
    display: flex;
    align-items: center;
    .icon {
      color: #3575E8;
      font-size: 18px;
      line-height: 18px;
      height: 13px;
      margin-right: 14px;
    }
  }
  .tour-info__content {
    color: #2C3036;
    font-size: 18px;
    margin-bottom: 30px;
    .price {
      color: #2C3036;
      font-size: 36px;
    }
    .currency {
      position: relative;
      top: -14px;
    }
  }
  .tour-info__person {
    display: flex;
    align-content: center;
    align-items: center;
    img {
      width: 40px;
      height: 40px;
      border-radius: 4px;
      margin-right: 20px;
    }
  }
  .tour-info__action {
    text-align: center;
  }
  .tour-info__btn {
    margin-bottom: 40px;
  }
  .place-count {
    color: #3575E8;
    font-weight: 600;
  }
  @media screen and (max-width: 480px) {
    padding: 20px;
    &.tour-info-basket {
      width: 100%;
    }
  }
}