.about-page {
	background-color: $bg;
	.team {
		padding-top: 0;
	}
	.about-page__title {
		text-align: left;
		margin-bottom: 80px;
	}
	.team-title {
		margin-bottom: 60px;
	}
	.about-page__top {
		margin-bottom: 80px;
	}
}

.about-page__team-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -30px;
	.team-item {
		margin: 30px;
		width: 25%;
	}
}
.about-description {
	.about-description__image {
		position: relative;
		img {
			width: 100%;
		}
		.owl-stage {
			display: flex;
		}
		.owl-stage-outer {
			overflow: hidden;
		}
		.owl-nav button.owl-prev {
			top: 50%;
			position: absolute;
			left: -60px;
		}
		.owl-nav button.owl-next {
			top: 50%;
			position: absolute;
			right: -60px;
		}
	}
	.about-description__details {
		p {
			color: #6c6f72;
			font-size: 16px;
			line-height: 30px;
			margin-top: 15px;
		}
	}
	.about-description__btn {
		margin-top: 40px;
		svg {
			margin-right: 8px;
		}
	}
	@media screen and (max-width: 768px) {
		display: block;
		.about-description__image {
			max-width: 100%;
			padding-right: 0;
		}
		.about-description__details {
			width: 100%;
			max-width: 100%;
			padding-left: 0;
			p {
				font-size: 14px;
			}
		}
		.about-description__btn {
			display: block;
		}
	}
}

.about-page__cards {
	&.team__cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: 60px;
		.team__card-person {
			max-width: 255px;
			width: 100%;
			@media screen and (max-width: 768px) {
				margin: 0 auto;
			}
		}
	}
}

.about-page__cards {
	.team__card-person {
		&:nth-child(4n + 2) {
			.card-person__title {
				color: $orange;
			}
			.card-person__job {
				color: $orange;
			}
			.card-person__footer {
				&::before {
					background-color: $orange;
				}
			}
		}
	}
	.team__card-person {
		&:nth-child(4n + 3) {
			.card-person__title {
				color: $green;
			}
			.card-person__job {
				color: $green;
			}
			.card-person__footer {
				&::before {
					background-color: $green;
				}
			}
		}
	}
	.team__card-person {
		&:nth-child(4n + 4) {
			.card-person__title {
				color: $purple;
			}
			.card-person__job {
				color: $purple;
			}
			.card-person__footer {
				&::before {
					background-color: $purple;
				}
			}
		}
	}
}
