.banner-contacts {
	background-image: url("../img/contacts/coral-reef@2x.png");
  height: 580px;
  background-size: cover;
  position: relative;
  margin-bottom: 0;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
  }
  .banner-inner {
    padding-top: 160px;
    max-width: 690px;
    position: relative;
    z-index: 1;
  }
  @media screen and (max-width:480px) {
    height: 440px;
  }
}

.contacts-page.page {
  padding-top: 0;
}

.contacts__box {
  margin-top: -185px;
  position: relative;
}

.box {
  overflow: hidden;
  border-radius: 20px;
  background: white;
  .box__row {
    display: flex;
    .box__cell {
      width: 50%;
      max-width: 600px;
      min-height: 590px;
      justify-content: center;
    }
  }
  .box__form,
  .box__location {
    padding: 80px;
    & > p {
      margin-bottom: 16px;
    }
    a.subtitle {
      text-decoration: none;
    }
  }
  .box__cell_map #map{
    width: 100%;
    height: 100%;
  }
  .box__address {
    margin-bottom: 30px;
    cursor: pointer;
    span {
      padding-right: 10px;
      font-size: 18px;
      height: 18px;
      color: #BEC0C2;
      &.icon-ic-time {
        font-size: 15px;
        height: 15px;
        line-height: 19px;
      }
    }
    p {
      display: flex;
    align-items: center;
    }
  }
  .box__place {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    & > p {
      margin-right: 24px;
      font-size: 24px;
      color: #2C3036;
      font-weight: 600;
    }
  }
  .box__lesson {
    .subtitle__location {
      position: relative;
      cursor: pointer;
      &::before {
        position: absolute;
        content: "\E008";
        font-size: 18px;
        font-weight: 300;
        color: #BEC0C2;
        font-family: "icons";
        left: 0;
        top: 4px;
        height: 16px;
        line-height: 22px;
      }
    }
    p {
      padding-left: 25px;
      position: relative;
      padding-bottom: 30px;
      &:first-child {
        padding-left: 0;
      }
    }
    span {
      display: block;
    }
  }
  .contact-form {
    p {
      line-height: 27px;
      font-weight: 800;
      max-width: 400px;
      width: 100%;
    }
    .form__input {
      margin-bottom: 30px;
    }
    .form {
      margin-bottom: 40px;
    }
    .contact-form__action {
      display: flex;
      justify-content: flex-end;
    }
    .contact-form__message {
      display: flex;
      margin-top: 40px;
      p {
        width: auto;
        margin-right: 20px;
        align-self: center;
      }
    }
    .contact-form__social {
      display: flex;
     
    }
  }
}



@media screen and (max-width: 992px) {
  .box {
    .box__form,
    .box__location {
      padding: 30px;
    }
  }

}

@media screen and (max-width: 768px) {
  .box {
    border-radius: 0;
    background: transparent;
    .box__row {
      overflow: hidden;
      border-radius: 20px;
      background: white;
      justify-content: center;
      max-width: 500px;
      margin: 0 auto 50px;
      .box__cell {
        max-width: 100%;
        width: 100%;
        min-height: auto;

      }
      .box__cell_image {
        display: none;
      }


    }
    .box__place > p {
      font-size: 18px;
    }
  }

}