.courses-page {
	.courses-page__header {
		margin-bottom: 80px;
		display: flex;
		justify-content: space-between;
	}
	.directions {
		width: 100%;
		max-width: 100%;
		padding-top: 0;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 60px;
	}
	.directions-item {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		height: 600px;
		background: #fff;
		border-radius: 20px;
		overflow: hidden;
		box-shadow: 0 0 4px rgba(31, 49, 74, 0.08);
		.directions-item__thumb {
			position: relative;
			transition: linear 0.2s;
			transition-delay: 0.3s;

			max-height: 250px;
			height: 100%;

			transform-origin: 100% 0;

			img {
				height: 100%;
				transform-origin: 100% 0;
			}
			span {
				position: absolute;
				bottom: 0;
				padding: 3px 20px;
				border-radius: 0 5px 0 0;
				color: #fff;
				font-size: 14px;
				font-weight: 600;
				line-height: 2.2;
				z-index: 1;
			}
		}
		.directions-item__description {
			max-height: 200px;
			height: 100%;

			transform-origin: 100% 0;

			font-weight: 400;
			margin-bottom: auto;
			padding: 40px 50px 0;
			overflow: hidden;
			h2 {
				font-size: 24px;
				color: #2c3036;
				transition: linear 0.2s;
				margin-bottom: 30px;
			}
			p {
				font-size: 16px;
				color: #6c6f72;
				line-height: 1.75;
			}
		}

		&:hover {
			.directions-item__thumb {
				max-height: 0;
				transform-origin: 100% 0;
			}
			.directions-item__description {
				max-height: 100%;
			}
			.directions-item__description h2 {
				color: $blue-light;
				transition: linear 0.2s;
			}
		}
		.directions-item__button {
			margin-top: 20px;
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
			padding: 0 50px 50px;
		}
	}
}

.courses-page .green {
	background: $green;
}

.courses-page .orange {
	background: $orange;
}

.courses-page .violet {
	background: $purple;
}

:root {
	--d: 700ms;
	--e: cubic-bezier(0.19, 1, 0.22, 1);
	--font-sans: "Rubik", sans-serif;
	--font-serif: "Cardo", serif;
}

.card {
	// height: 500px;
	border-radius: 20px;
	position: relative;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: end;
	align-items: flex-end;
	overflow: hidden;
	// padding: 0 0 1rem;
	width: 100%;
	text-align: center;
	color: whitesmoke;
	background-color: whitesmoke;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
		0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
		0 16px 16px rgba(0, 0, 0, 0.1);
	.img {
		background-image: url("../img/travel-list/pexels-photo-1056808@2x.png");
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 110%;
		background-size: cover;
		background-position: 0 0;
		-webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
		transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
		transition: transform calc(var(--d) * 1.5) var(--e);
		transition: transform calc(var(--d) * 1.5) var(--e),
			-webkit-transform calc(var(--d) * 1.5) var(--e);
		pointer-events: none;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.4) 0%,
				rgba(0, 0, 0, 0) 100%
			);
		}
	}
	.content {
		transform: translateY(calc(100% - 12rem));
		position: relative;
		display: -webkit-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 3rem 2rem;
		transition: -webkit-transform var(--d) var(--e);
		transition: transform var(--d) var(--e);
		transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
		z-index: 1;
	}
	.card__thumb {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		border-radius: 0 0 10px 0;
		font-size: 14px;
		font-weight: 600;
		padding: 9px 20px;
	}
	.title {
		font-size: 1.3rem;
		font-weight: bold;
		line-height: 1.2;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 120px;
		h2 {
			font-size: 24px;
			font-weight: 600;
			margin-bottom: auto;
		}
		.price {
			font-size: 36px;
			font-weight: 300;
			span {
				position: relative;
				top: -17px;
				font-size: 14px;
				left: 3px;
			}
		}
	}
	.copy {
		font-family: var(--font-serif);
		font-size: 1.125rem;
		font-style: italic;
		line-height: 1.35;
	}
	.content > * + * {
		margin-top: 1rem;
	}
	.content > *:not(.title) {
		opacity: 0;
		transform: translateY(1rem);
		transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
		transition: transform var(--d) var(--e), opacity var(--d) var(--e);
		transition: transform var(--d) var(--e), opacity var(--d) var(--e),
			-webkit-transform var(--d) var(--e);
	}
	@media screen and (min-width: 769px) {
		&:hover {
			align-items: center;
			.img {
				transform: translateY(-4%);
				&::before {
					background: rgba(0, 0, 0, 0.3);
				}
			}
			.content {
				transform: translateY(0);
			}
			.content > *:not(.title) {
				opacity: 1;
				transform: translateY(0);
				transition-delay: calc(var(--d) / 8);
			}
		}
	}

}

@media screen and (max-width: 768px) {
	.courses-page {
		.courses-page__header {
			flex-direction: column;
			margin-bottom: 0;
			.courses-page__title {
				margin-bottom: 30px;
			}
		}
	}
	.card {
		.img {
			transform: translateY(-4%);
			&::before {
				background: rgba(0, 0, 0, 0.3);
			}
		}
		.content {
			transform: translateY(0);
		}
		.content > *:not(.title) {
			opacity: 1;
			transform: translateY(0);
			transition-delay: calc(var(--d) / 8);
		}
	}
}

/* 

	SINGLE COURSE

*/
.course-page {
	padding-top: 0;
	background-color: $bg;
}
.course__image {
	position: relative;
	margin-bottom: 40px;
	.owl-nav button.owl-prev {
		top: 50%;
		position: absolute;
		left: 16px;
	}
	.owl-nav button.owl-next {
		top: 50%;
		position: absolute;
		right: 16px;
	}
	.owl-dots {
		position: absolute;
		bottom: 5px;
		left: 50%;
		transform: translateX(-50%);
	}
}
