.equipment-page {
  padding-top: 0;
}
.section-equipment {
  margin-top: 160px;
}

@media screen and (max-width: 992px) {
  .section-equipment {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .section-equipment {
    margin-top: 50px;
  }
}

@media screen and (max-width: 480px) {

}