@import "./../vars";

.banner {
	padding: 260px 0 295px;
	margin-bottom: 0;
	background-image: url("../img/background/bg-desc.png");
	background-size: cover;
	background-position: 70% 0;
	background-color: #1912a8;
	.banner-inner {
		max-width: 715px;
	}
	.banner-title {
		margin: 0 0 32px;
	}
	.banner-subtitle {
		max-width: 503px;
		margin-bottom: 80px;
	}
	.banner__action {
		display: flex;
		.banner__btn {
			margin-right: 40px;
			&:first-child {
				height: 44px;
				display: flex;
				align-items: center;
			}
			&:last-child {
				margin-right: 0;
			}
			span {
				vertical-align: middle;
				padding-right: 8px;
			}
		}
	}
	@media screen and (max-width: 1200px) {
		padding: 260px 0 150px;
	}
	@media screen and (max-width: 480px) {
		padding: 130px 0 80px;
		background-position: 75% 50%;
		.banner__action {
			flex-wrap: wrap;
			flex-direction: column;
			.banner__btn {
				margin-right: 0;
				margin-bottom: 20px;
			}
		}
	}
}

.special-offer {
	margin-bottom: 0;
	.special-offer__container {
		display: grid;
		grid-gap: 60px;
		grid-template-columns: 1fr 1fr;
		transform: translateY(-50%);
	}
	.special-offer__item {
		border-radius: 15px;
		display: flex;
		box-shadow: 0px 50px 30px -20px rgba(10, 51, 125, 0.3);
		background-color: white;
		.special-offer__item-photo {
			position: relative;
			max-width: 216px;
			width: 100%;
			flex-shrink: 0;
			overflow: hidden;
			border-radius: 15px 0 0 15px;
			img {
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 15px 0 0 15px;
				transition: transform 0.3s ease-in;
				object-fit: cover;
				&:hover {
					transform: scale(1.2);
				}
			}
		}
		.special-offer__item-details {
			padding: 40px;
		}
		.special-offer__ribbon {
			position: absolute;
			&:nth-of-type(1) {
				top: 32px;
			}
			&:nth-of-type(2) {
				top: 68px;
			}
			&:nth-of-type(3) {
				top: 104px;
			}
		}
		.special-offer__subtitle {
			margin-bottom: 20px;
		}
	}
	@media screen and (max-width: 1200px) {
		.special-offer__container {
			grid-template-columns: 1fr;
			grid-gap: 30px;
			transform: translateY(0);
			margin-bottom: 100px;
			margin-top: -90px;
		}
	}
	@media screen and (max-width: 900px) {
		&.special-offer-basket {
			.special-offer__item-photo {
				max-width: 155px;
			}
			.special-offer__item-details {
				padding: 20px;
			}
		}
	}
	@media screen and (max-width: 768px) {
		&.special-offer-basket {
			.special-offer__item-photo {
				display: none;
			}
		}
	}
	@media screen and (max-width: 480px) {
		&:not(.special-offer-basket) {
			display: none;
		}
	}
}

.ribbon {
	min-width: 140px;
	height: 28px;
	display: flex;
	align-items: center;
	padding: 7px 0;
	background: $white;
	border-radius: 0 15px 15px 0;
	font-size: 12px;
	font-weight: 600;
	padding-left: 10px;
	span.icon {
		padding-right: 10px;
		font-size: 14px;
		position: relative;
		&::before {
			position: relative;
			top: 3px;
		}
	}
	img {
		margin-right: 10px;
	}
	&.ribbon_blue {
		color: $blue-light;
	}
	&.ribbon_green {
		color: #70cc2c;
	}
}

.team {
	.team__title {
		margin-bottom: 80px;
		@media screen and (max-width: 992px) {
			margin-bottom: 25px;
		}
	}
	.team__cards {
		display: flex;
		position: relative;
		@media screen and (max-width: 480px) {
			margin-right: -20px;
		}
		.owl-stage-outer {
			padding: 10px 0 10px 4px;
		}
		.team__card-person {
			text-decoration: none;
		}
		.owl-item {
			&:nth-child(4n + 2) {
				.team__card-person {
					.card-person__title {
						color: $orange;
					}
					.card-person__job {
						color: $orange;
					}
					.card-person__footer {
						&::before {
							background-color: $orange;
						}
					}
				}
			}
			&:nth-child(4n + 3) {
				.team__card-person {
					.card-person__title {
						color: $green;
					}
					.card-person__job {
						color: $green;
					}
					.card-person__footer {
						&::before {
							background-color: $green;
						}
					}
				}
			}
			&:nth-child(4n + 4) {
				.team__card-person {
					.card-person__title {
						color: $purple;
					}
					.card-person__job {
						color: $purple;
					}
					.card-person__footer {
						&::before {
							background-color: $purple;
						}
					}
				}
			}
		}
		.owl-stage {
			display: flex;
		}
		.team__card-person {
			max-width: 255px;
			width: 100%;
			height: 100%;
		}
		&.owl-carousel {
			.owl-nav button.owl-prev {
				top: 50%;
				position: absolute;
				left: -60px;
			}

			.owl-nav button.owl-next {
				top: 50%;
				position: absolute;
				right: -60px;
			}
		}
	}

	.team__btn {
		margin: 100px auto 20px;
	}
}

.education {
	padding: 43px 0;

	.students-title {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto 80px;
		@media screen and (max-width: 768px) {
			margin-bottom: 25px;
		}
	}

	.students-list {
		margin-bottom: 80px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		grid-auto-rows: 0;
		grid-template-rows: 1fr 1fr;
		overflow: hidden;
	}
	.students__btn {
		text-align: center;
	}
}

.student__person {
	display: flex;
	justify-content: center;
	position: relative;
	img {
		width: 100%;
		height: 100%;
	}
	.student__details {
		position: absolute;
		opacity: 0;
		visibility: hidden;
	}
	&:hover .student__details {
		opacity: 1;
		visibility: visible;
		transition: linear 0.2s;
	}
}

.student__details {
	display: none;
	padding: 15px 10px;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $orange-opacity;
	transition: linear 0.2s;
	border-radius: 10px;

	width: calc(100% - 14px);
	height: calc(100% - 14px);
	top: 50%;
	transform: translateY(-50%);
	&.blue {
		background: $blue-opacity;
	}
}

.student__details-title {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 600;
	color: $white;
}

.student__details-position {
	font-weight: 400;
	color: $white;
	margin: 0 0 10px;
	font-size: 10px;
}

.student__details-link {
	text-decoration: none;
	color: $white;

	&.student__details-link--video {
		text-transform: uppercase;
		letter-spacing: 1.2px;
		font-size: 9px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	&.student__details-link--social {
		font-size: 20px;
		position: absolute;
		bottom: 10px;
	}
}

.tours {
	.tours-list {
		position: relative;
		.owl-stage {
			padding-bottom: 80px;
		}
		.owl-carousel {
			.owl-nav button.owl-prev {
				top: 50%;
				position: absolute;
				left: -60px;
			}

			.owl-nav button.owl-next {
				top: 50%;
				position: absolute;
				right: -60px;
			}
		}
	}
	.tour-item {
		display: block;
		// &:hover {
		// 	box-shadow: 14px 10px 19px -13px #545454;
		// }
	}
	.tours__title {
		margin-bottom: 20px;
	}
	.tours__description {
		margin-bottom: 45px;
		img {
			transform: translateY(5px);
			display: inline-block;
			margin-right: 5px;
		}
	}
	.tours__btn {
		margin: 0 auto;
	}
	@media screen and (max-width: 768px) {
		.tours-list {
			margin-right: -20px;
		}
	}
}

.tour-item {
	border-radius: 15px;
	background-color: #fff;

	text-align: center;
	position: relative;
	width: 100%;
	text-decoration: none;
	display: block;
	&::before {
		content: "";
		position: absolute;
		bottom: -25px;
		left: 50%;
		transform: translateX(-50%);
		width: 70%;
		height: 100px;
		filter: blur(30px);
		opacity: 0.15;
		background-color: #000000;
		border-radius: 20px;
		z-index: -1;
	}

	.tour-item__top {
		position: relative;
		overflow: hidden;
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
		&:hover {
			img {
				transform: scale(1.2);
			}
		}
		img {
			object-fit: cover;
			width: 100%;
			transition: transform 0.2s ease-in;
		}
		.tour-item__top-details {
			padding: 30px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: transparent
				linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%) 0%
				0% no-repeat;
			text-align: left;
		}
		.tour-item__data {
			margin-bottom: 13px;
			font-size: 24px;
			font-weight: 600;
			color: #fff;
			text-align: left;
			line-height: 1;
		}
		.tour-item__location {
			font-size: 18px;
			font-weight: 400;
			letter-spacing: 0.05em;
			color: #fff;
			text-transform: uppercase;
			line-height: 1;
		}
	}
	.tour-item__bottom {
		padding: 40px;
		text-align: left;
		h2 {
			line-height: 1.2em;
			margin-bottom: 20px;
		}
		p {
			line-height: 28px;
		}
	}

	@media screen and (max-width: 992px) {
		.tour-item__bottom {
			padding: 20px;
		}
	}

	@media screen and (max-width: 768px) {
		.tour-item__top {
			max-height: 165px;
			.tour-item__top-details {
				padding: 20px;
			}
			.tour-item__data {
				font-size: 18px;
			}
			.tour-item__location {
				font-size: 14px;
			}
		}
		.tour-item__bottom {
			p {
				line-height: 21px;
			}
		}
	}
}

.reports {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 140px;
	margin-bottom: 0;
	background-color: white;
	.reports-container {
		display: flex;
		width: calc(100% - ((100% - 1200px) / 2));
		padding: 160px 0;
	}
	.reports__title {
		margin-bottom: 20px;
		white-space: pre-wrap;
	}
	.reports__description {
		margin-bottom: 30px;
	}
	.reports__btn {
		display: block;
		margin-top: 0;
		line-height: 1.8;
	}
	.reports__info {
		width: 420px;
		flex-shrink: 0;
		padding-right: 30px;
	}
	.reports-list {
		width: calc(100% - 420px);
		padding: 20px 0;
	}
	.reports-list {
		padding: 20px 0;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: -40px;
			right: 0;
			height: calc(100% + 80px);
			width: 60px;
			background: linear-gradient(-90deg, #1f314a33 0%, #00000000 100%);
			border-top-left-radius: 100px;
			border-bottom-left-radius: 100px;
			z-index: 1;
		}
		&::before {
			content: "";
			position: absolute;
			top: -40px;
			left: 0;
			height: calc(100% + 80px);
			width: 60px;
			background: linear-gradient(90deg, #1f314a33 0%, #00000000 100%);
			border-top-right-radius: 100px;
			border-bottom-right-radius: 100px;
			z-index: 2;
		}
	}
	.reports-list .reports-list__btn-prev {
		top: 50%;
		left: 10px;
		position: absolute;
		transform: rotate(-180deg);
		z-index: 3;
	}
	.reports-list .reports-list__btn-next {
		top: 50%;
		right: 10px;
		position: absolute;
		z-index: 3;
	}
	.reports-list .reports-list__btn {
		border: none;
		background: transparent url("../img/icons/icon-arrow-1.svg") no-repeat;
		width: 22px;
		height: 22px;
		&:focus {
			outline: none;
		}
	}
	.report-item {
		.report-item__details {
			position: absolute;
			top: 33px;
			left: 30px;
			.report-item__data {
				margin-bottom: 14px;
				font-size: 24px;
				font-weight: 600;
				color: #fff;
				text-align: left;
				line-height: 1;
			}
			.report-item__location {
				font-size: 14px;
				margin-left: 5px;
				font-size: 18px;
				font-weight: 400;
				letter-spacing: 0.05em;
				color: #fff;
				text-transform: uppercase;
				line-height: 1;
			}
		}
		a {
			position: relative;
			display: block;
			border-radius: 10px;
			overflow: hidden;
		
			&:hover {
				&::after {
					opacity: 1;
				}
			}
			&::after {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
				transition: opacity .5s ease;
			}
			// }
		}
		img {
			border-radius: 10px;
		}
	}
	.reports .blue-btn {
		width: 250px;
		margin: 40px 0 0;
		padding: 11px 0 10px;
	}
	@media screen and (max-width: 1280px) {
		.reports-container {
			width: 100%;
			padding-left: 24px;
		}
	}
	@media screen and (max-width: 768px) {
		.reports-container {
			flex-direction: column;
			padding: 80px 0 80px 24px;
		}
		.reports-list {
			width: 100%;
		}
		.reports__info {
			width: 100%;
			padding-right: 24px;
			padding-bottom: 25px;
		}
		.reports-list {
			&::before,
			&::after {
				content: none;
			}
			.reports-list__btn-prev,
			.reports-list__btn-next {
				display: none;
			}
		}
	}
}

.instagram {
	padding: 0;
	margin-bottom: 0;
	.photos {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		grid-auto-rows: 0;
		grid-template-rows: 1fr 1fr;
		overflow: hidden;
	}
	.photos__item {
		position: relative;
		&.hovered a {
			visibility: visible;
			opacity: 1;
		}
		a {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			top: 7px;
			bottom: 7px;
			left: 7px;
			right: 7px;
			background: #fff;
			border-radius: 15px;
			text-decoration: none;
			transition: linear 0.3s;
			padding: 8px;
		}
		.icon {
			font-size: 22px;
			color: #3575e8;
			&:hover {
				color: #2061D6;
			}
		}
		img {
			width: 100%;
		}
		.icon-text {
			width: 100%;
			height: 46px;
			max-width: 190px;
			margin: 0 auto;
			display: block;
			fill: #3575e8;
		}
		p {
			text-align: center;
			text-decoration: none;
			color: #4b4b4b;
			font-size: 10px;
			line-height: 1.5;
			font-weight: 400;
		}
		.photo__tag {
			color: #aeaeae;
			font-size: 12px;
			line-height: 1.5;
			font-weight: 400;
			padding-top: 20px;
		}
	}
	.photos__info {
		grid-column-start: 2;
		grid-row-start: 1;
		position: relative;
		z-index: 1;
	}
}

.contacts {
	position: relative;
	#map {
		height: 660px;
	}
	.section-contacts {
		position: absolute;
		width: 100%;
		max-width: 400px;
		top: 0;
		left: 10%;
		padding-top: 60px;
		z-index: 1;
	}
	.contacts-box {
		max-width: 360px;
		padding: 40px;
		background-color: #fff;
		border-radius: 15px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			bottom: -25px;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			height: 100px;
			max-width: 270px;
			filter: blur(30px);
			opacity: 0.15;
			background-color: #000000;
			border-radius: 20px;
			z-index: -1;
		}
		.contacts-header {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			position: relative;
			margin-bottom: 20px;
		}
		.dropdown__contacts {
			font-weight: 600;
			& > p {
				line-height: 26px;
			}
		}
		.contacts-header__title {
			font-size: 24px;
			font-weight: 600;
			line-height: 1.3;
		}
		.contacts-tabs {
			position: relative;
		}

		.contacts-tab {
			position: absolute;
			top: 0;
			z-index: -1;
		}

		.contacts-tab.active {
			position: relative;
			z-index: 1;
		}

		.contacts-details__item {
			padding: 20px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			background: #f6f7f8;
			margin-bottom: 10px;
			cursor: pointer;
		}

		.contacts-details__item p {
			margin: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.5;
			color: #6c6f72;
		}

		.contacts-details__item p .icon {
			width: 7px;
			height: 10px;
			font-size: 12px;
			color: #3575e8;
			margin-right: 5px;
		}

		.contacts-details__title {
			margin: 20px 0;
			font-size: 14px;
			font-weight: 600;
			line-height: 1.5;
		}
		.hours {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}

		.hours p {
			margin: 10px 0;
			max-width: 200px;
			text-align: right;
			font-size: 14px;
		}

		.hours a {
			color: #2c3036;
			text-decoration: none;
			font-size: 14px;
			font-weight: 600;
			line-height: 1.5;
		}
	}

	@media screen and (max-width: 480px) {
		display: flex;
		flex-direction: column;
		.section-contacts {
			padding-top: 0;
			position: relative;
		}
		.section-inner {
			padding: 0;
		}
		.section-contacts {
			order: -1;
			left: 0;
			max-width: 100%;
		}
		.contacts-box {
			max-width: 100%;
		}
		.contacts-map #map {
			height: 300px;
		}
	}
}

.owl-carousel {
	iframe {
		height: 260px;
	}
	.owl-video-tn {
		background-size: cover;
	}
}

.section-benefits {
	margin-bottom: 0;
	overflow: hidden;
	@media screen and (max-width: 480px) {
		padding-top: 40px;
	}
}

.section-benefits-title {
	margin-bottom: 80px;
}

.benefits {
	display: flex;
	flex-wrap: wrap;
	margin-left: -75px;
	margin-right: -75px;
	.benefit {
		width: calc(33% - 150px);
		margin: 0 75px 75px;
	}
	img {
		margin: 0 auto 20px;
		min-height: 115px;
	}
	.benefit-title {
		color: #2c3036;
		font-size: 14px;
		font-weight: 600;
		margin-bottom: 20px;
		text-align: center;
	}
	.benefit-text {
		text-align: center;
	}

	@media screen and (max-width: 992px) {
		.benefit {
			width: calc(50% - 150px);
		}
	}
	@media screen and (max-width: 768px) {
		margin-left: -30px;
		margin-right: -30px;
		.benefit {
			width: calc(50% - 60px);
			margin: 0 30px 30px;
		}
	}
	@media screen and (max-width: 480px) {
		.benefit {
			width: calc(100% - 60px);
		}
	}
}
