.instructor__main {
  display: flex;
  .instructor__side {
    width: 360px;
  }
  .instructor__content {
    width: calc(100% - 360px);
    padding-left: 60px;
  }
  @media screen and (max-width: 992px) {
    .instructor__side {
      display: none;
    }
    .instructor__content {
      width: 100%;
      padding-left: 0;
    }
  }
}

.instructor__side {
  .instructor__avatar {
    width: 360px;
    position: fixed;
    .inscructor__name {
      visibility: hidden;
      opacity: 0;
    }
    &.instructor__avatar--visible {
      .inscructor__name {
        visibility: visible;
        opacity: 1;
      }
    }
    &.instructor__avatar--static {
      position: absolute;
    }
  }

  .instructor__image {
    border-radius: 15px;
    margin-bottom: 40px;

  }
}

.instructor__content {
  p {
    color: #6C6F72;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  h4 {
    color: #2C3036;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 34px;
    margin-top: 80px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    &.done {
      li {
        padding-left: 20px;
        margin-bottom: 16px;
        position: relative;
        color: #3575E8;

        &::after {
          position: absolute;
          content: '';
          color: inherit;

        }
        a {
          text-decoration: none;
          color: inherit;
          border-bottom: 1px dotted #3575E8;
          font-size: 16px;
        }
      }
    }
  }
  .instructor__awards {
    margin-top: 50px;
    .awards {
      display: flex;
      justify-content: space-around;
      li {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        img {
          max-height: 115px;
        }
        &:last-child {
          margin-right: 0;
        }
        p {
          padding-top: 10px;
          text-align: center;
        }
      }
      @media screen and (max-width: 480px) {
        flex-direction: column;
        align-items: center;
        li {
          margin-right: 0;
        }
      }
    }
  }
  .instructor__gallery {
    .instructor__gallery_list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      @media screen and (max-width:480px) {
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
      }
    }
    .instructor__gallery_item {
      position: relative;
      .gallery_item--hover {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        transition: opacity .2s ease-in;
        span {
          color: white;
          margin: auto;
          font-size: 28px;
        }
      }
      &:hover {
        .gallery_item--hover {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

}

.inscructor__name {
  h2 {
    color: #2C3036;
    text-transform: uppercase;
    font-weight: bold;
  }
  p {
    color: #70CC2C;
    font-size: 18px;
    text-transform: uppercase;
  }
  &.instructor__name_s {
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
  &.instructor__name_m {
    h2 {
      font-size: 36px;
      margin-bottom: 20px;
    }
  }
}

