.students-page {
  padding-top: 80px;
  .students-page__title {
    margin-bottom: 80px;
	}
	.student__details-position {
		font-size: 14px;
	}
	.student__details-title {
		font-size: 16px;
	}
	.student__details-link {
		&.student__details-link--video {
			font-size: 12px;
		}
		&.student__details-link--social {
			font-size: 24px;
			bottom: 20px;
		}
	}
}
.students-photo {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	.student__details {
		
	width: calc(100% - 34px);
	height: calc(100% - 34px);
	}
	grid-gap: 80px;
	@media screen and (max-width: 1350px) {
		grid-gap: 60px;
		.student__details-link.student__details-link--social {
    	bottom: 15px;
		}
	}
	@media screen and (max-width: 768px) {
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-gap: 30px;
	}
	@media screen and (max-width: 600px) {
		grid-template-columns: repeat(2, 1fr);
		
		.student__details {
			height: calc(100% - 17px);
			width: calc(100% - 17px);
		}
	}
	@media screen and (max-width: 480px) {
		grid-gap: 10px;
		.student__details-link.student__details-link--video {
			font-size: 10px;
		}
		.student__details-link.student__details-link--social {
			font-size: 18px;
    	bottom: 10px;
		}
	}
	@media screen and (max-width: 380px) {
		.student__details {
			height: 100%;
			width: 100%;
			padding: 7px 5px;
			border-radius: 0;
		}
		.student__details-position {
			font-size: 10px;
		}
		.student__details-link.student__details-link--social {
    	bottom: 5px;
		}
	}
}

.students-page__pagination {
	display: flex;
	justify-content: flex-end;
	padding: 80px 0;
}
