.advantages {
	display: flex;
	justify-content: center;
	margin-left: -30px;
	margin-right: -30px;
	.advantage {
		margin: 0 30px 60px;
	}
	.advantages__image {
		background-color: #ff9494;
		height: 360px;
		max-width: 360px;
		width: 100%;
		margin: 0 auto;
	}
	.advantages__content {
		padding-top: 40px;
		text-align: center;
	}
	.advantages__title {
		color: #2c3036;
		font-weight: 600;
		font-size: 18px;
		margin-bottom: 20px;
	}
	@media screen and (max-width: 992px) {
		flex-wrap: wrap;
		.advantage {
			width: calc(50% - 60px);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	@media screen and (max-width: 768px) {
		flex-wrap: wrap;
		.advantage {
			width: 100%;
		}
	}
}

.present-page__title {
	margin-bottom: 80px;
}

.present--description__image {
	img {
		width: 100%;
	}
}

.present--description__details {
	padding-top: 10px;
	@media screen and (max-width: 768px) {
		text-align: center;
	}
}

.present-description {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 60px;
	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
	}
}

.present-page {
	padding-top: 0;
	.section-title {
		margin-bottom: 80px;
	}
}

.present-page__advantages {
	overflow: hidden;
	.benefit {
		margin-bottom: 0;
	}
}

.gifts {
	display: flex;
	justify-content: center;
	margin-left: -30px;
	margin-right: -30px;
	.gift__item {
		width: 360px;
		overflow: hidden;
		position: relative;
		margin: 0 30px 60px;
	}
	.gift__content {
		padding: 30px;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.4) 0%,
				rgba(0, 0, 0, 0) 100%
			)
			0% 0% no-repeat;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		color: white;
	}
	.gift__title {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	.gift__price {
		font-size: 36px;
		font-weight: 300;
		span {
			position: relative;
			top: -17px;
			font-size: 14px;
			left: 3px;
		}
	}
	@media screen and (max-width: 1120px) {
		flex-wrap: wrap;
	}
	@media screen and (max-width: 480px) {
		// .gift__item {
		// 	height: 430px;
		// }
		.gift__title {
			font-size: 18px;
		}
		.gift__price {
			font-size: 24px;
		}
	}
}

.present-tabs-content {
	padding: 0;
}
