.banner-report-item {
	// height: 580px;
	padding-bottom: 200px;
	background-size: cover;
	position: relative;
	margin-bottom: 0;
	&.banner-image-person {
		background-image: url("../img/background/bg-desc.png");
		background-position: 100%;
	}
	&.banner-image-sea {
		background-image: url("../img/contacts/coral-reef@2x.png");
	}
	&::after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.banner-inner {
		padding-top: 164px;
		max-width: 690px;
		position: relative;
		z-index: 1;
	}
	.label {
		margin-bottom: 50px;
	}
	@media screen and (max-width:768px) {
		// height: 380px;
		padding-bottom: 100px;
		.banner-inner {
			padding-top: 130px;
		}
	}
	@media screen and (max-width:480px) {
		// height: 270px;
		padding-bottom: 70px;
		.banner-inner {
			padding-top: 100px;
		}
	}
}

.report-item-page.page {
	padding-top: 0;
}

.section-chip {
	margin-top: -62px;
	.section-video {
		display: flex;
		justify-content: flex-end;
	}
	@media screen and (max-width:480px){
		margin-top: -45px;
	}
}
