.travel-prev__cards-solid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
	grid-gap: 60px;
}

.title__travel-prev {
	margin-bottom: 80px;
}

.travel-prev__tours {
	position: relative;
	z-index: 1;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
	grid-gap: 60px;
	.tour-item__bottom {
		padding: 30px 20px;
	}
}

.travel-prev__title {
	white-space: nowrap;
	@media screen and (max-width: 992px) {
		margin-bottom: 20px;
	}
}

.tour-item {
	@media screen and (max-width: 768px) {
		margin: 0 auto;
	}
}

.travel-prev_bottom__btn {
  margin-top: 70px;
}
