@import "./../vars";

.travel-list-page {
  padding-top: 135px;
  .travel-list-page__header {
    margin-bottom: 80px;
  }
  .travel-list-page__tours {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(255px, 1fr));
    grid-gap: 60px;
    position: relative;
    z-index: 1;
  }
  @media screen and (max-width: 768px) {
    .travel-list-page__tours {
      grid-gap: 20px;
    }
  }
  .tour-item {
    .tour-item__bottom {
      padding: 30px 20px;
    }
  }
}