$blue-400: #2869DD;
$btn-gradient-blue: linear-gradient(90deg, #3575E8 0%, #2061D6 100%);

.visit__row {
	display: grid;
	grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "a b c ";
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas: " b " " a " "c";
  }
}
.visit__column {
	display: flex;
	flex-direction: column;
  align-items: center;
  &:nth-child(1) {
    grid-area: a;
  }
  &:nth-child(2) {
    grid-area: b;
  }
  &:nth-child(3) {
    grid-area: c;
  }
}
.visit__btn {
	height: 40px;
	margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $blue-400;
  color: $blue-400;
  transition: all .3s ease;
  span {
    margin-left: 5px;
  }
  &:hover {
    background: $btn-gradient-blue;
    color: $white;
    .visit__fill_blue {
      fill: $white;
    }
    .visit__fill_white {
      fill: $blue-400;
    }
  }
}
.visit__fill_blue {
  fill: $blue-400;
}
.visit__fill_white {
  fill: $white;
}
.visit__text {
  margin-bottom: 20px;
}
.visit__link {
  text-decoration: none;
  transition: text-decoration .2 ease;
  &:hover {
    text-decoration: underline;
  }
}
.visit__link_blue {
  color: $blue-400;
  font-weight: 600;
  text-transform: uppercase;
}

.banner-visit {
  padding: 25px 0 100px;
  margin-bottom: 30px;
  @media screen and (max-width: 768px) {
    padding: 100px 0;
    background-position: 60% 100%;
  }
  @media screen and (max-width: 480px) {
    padding: 60px 0;
  }
}

.visit__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 150px;
}